<section id="settingUserPage">
    <div class="_bg card-bg"></div>
    <form class="top query-form">
        <div class="form-inline">
            <label>用户角色</label>
            <select ng-model="userQuery.type" 
                    ng-options="item as item for item in typeList"
                    ng-change="query();">
                <option ng-bind="'全部'"></option>
            </select>

            <label>账号</label>
            <input type="text" ng-model="userQuery.username">

            <label>姓名</label>
            <input type="text" ng-model="userQuery.name">

            <label>联系电话</label>
            <input type="text" ng-model="userQuery.phone">

            <button class="btn btn-primary" ng-click="query();">查询</button>
            <button class="btn btn-default" type="reset" ng-click="reset();">清除</button>
        </div>
    </form>
    
    <div class="bottom card-bg">
        <div class="page-header">
            <h3>用户信息</h3>
            <div class="btn-group" ng-if="util.checkPrivilege(3107)">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="ic ic-download" title="下载文件"></i> 导出 <i class="ic ic-angle-down ic-min"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button
                                sng-disabled="userList.length === 0"
                            ng-click="exportUserList();"
                            sng-Have='exportUserList.have' 
                            ng-if="util.checkPrivilege(3107);"
                            scloud-count-down sng-count="60" sng-title="导出Excel">
                        </button>
                    </li>
                    <li>
                        <button
                                sng-disabled="userList.length === 0"
                            ng-click="exportUserListPdf();"
                            sng-Have='exportUserListPdf.have' 
                            ng-if="util.checkPrivilege(3107);"
                            scloud-count-down sng-count="60" sng-title="导出PDF">
                        </button>
                    </li>
                </ul>
            </div>
            <div class="btn-group" ng-if="util.checkPrivilege(3102)">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    批量生成用户 <i class="ic ic-angle-down ic-min"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{CONST.ctx}}/res/doc/template/user.xls">下载模板</a>
                    </li>
                    <li>
                        <a ng-click="addUsers.toModal();">批量生成用户</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary" ng-if="util.checkPrivilege(3102)" ng-click="addUser.toModal();">添加用户</button>
        </div>
        <div class="table-box scroll">
            <table scloud-table-head-fix class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>账号</th><th>姓名</th><th>用户类型</th><th>用户角色</th><th>用户组</th><th>部门</th><th>联系电话</th><th>电子邮箱</th><th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in userList" ng-class="CONST.animation.list">
                        <td ng-bind="u.username"></td>
                        <td ng-bind="u.name"></td>
                        <td ng-bind="u.classes"></td>
                        <td ng-bind="u.type"></td>
                        <td ng-bind="u.userGroup | nullFilter"></td>
                        <td ng-bind="u.department | nullFilter"></td>
                        <td ng-bind="u.phone | nullFilter"></td>
                        <td ng-bind="u.email | nullFilter"></td>
                        <td>
                            <span ng-if="
                                (
                                    user.classes !== CONST.userClasses.enterprise ||
                                    user.type === CONST.userType.globalManager ||
                                    u.id === user.id ||
                                    (user.type === CONST.userType.manager && u.type !== CONST.userType.globalManager && lowerUserIds.containsObj(u.id))
                                ) && (
                                    u.userGroup !== '维护人员组'
                                ) && util.checkPrivilege(3102)">
                                <a title="修改" class="ic ic-edit" ng-click="modifyUser.toModal(u);"></a>
                            </span>
                            <span ng-if="(user.classes !== CONST.userClasses.enterprise || user.type === CONST.userType.globalManager || lowerUserIds.containsObj(u.id))
                                && u.id !== user.id && u.type !== CONST.userType.globalManager">
                                <a ng-hide="u.userGroup === '维护人员组'" ng-if="util.checkPrivilege(3125)" title="修改管辖区域" class="ic ic-map-marker" ng-click="modifyTier.toModal(u);"></a>
                                <a title="删除" ng-if="util.checkPrivilege(3105)" class="ic ic-delete" ng-click="deleteUser.toModal(u);"></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="loader" ng-show="isLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
        <div class="no-data" ng-hide="isLoading || paginationConf.totalItems">
            <div class="img img-2x"></div>
        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    
    <div>
        <form class="modal hide form-horizontal" data-backdrop="static" id="addUserModal"
              name="addUser.form" novalidate ng-submit="addUser.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="addUser.clear();"><i class="ic ic-close"></i></button>
                <h3>添加用户</h3>
            </div>
            <div class="modal-body scroll">
                <div class="control-group" ng-class="getValidClass(addUser.form.username);">
                    <label class="control-label">账号</label>
                    <div class="controls">
                        <input type="text" name="username" required
                               ng-model='addUser.obj.username'
                               placeholder="{{REGEX.usernameDesc}}"
                               ng-pattern="REGEX.username">
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(addUser.form.password);">
                    <label class="control-label">密码</label>
                    <div class="controls">
                        <input type="text" name="password" required
                               ng-model='addUser.obj.password'
                               placeholder="{{REGEX.passwordDesc}}"
                               ng-pattern="REGEX.password">
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(addUser.form.name);">
                    <label class="control-label">姓名</label>
                    <div class="controls">
                        <input type="text" name="name" required
                               ng-model='addUser.obj.name'
                               placeholder="{{REGEX.personNameDesc}}"
                               ng-pattern="REGEX.personName">
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(addUser.form.type);">
                    <label class="control-label">用户角色</label>
                    <div class="controls">
                        <select name="type" required
                                ng-model="addUser.obj.type"
                                ng-options="item as item for item in typeList">
                        </select>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-if="addUser.obj.type === CONST.userType.ordinary" ng-class="getValidClass(addUser.form.userGroup);">
                    <label class="control-label">用户组</label>
                    <div class="controls">
                        <select name="type" required
                                ng-model="addUser.obj.userGroup"
                                ng-options="item.name as item.name for item in userGroupList">
                        </select>
                        <span class="help-inline"></span>
                    </div>
                </div>
                
                <div class="control-group" ng-class="getValidClass(addUser.form.department);">
                    <label class="control-label">部门</label>
                    <div class="controls">
                        <select name="department" 
                                ng-if="!addUser.style"
                                ng-model="addUser.obj.department" 
                                ng-options="item as item for item in departmentList"
                                ng-pattern="REGEX.department">
                        </select>
                        <input type="text" name="department"
                               ng-if="addUser.style" 
                               ng-model="addUser.obj.department"
                               ng-pattern="REGEX.department">
                        <span class="help-inline"></span>
                        <div scloud-checkbox selected="addUser.style" content="手动输入"></div>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(addUser.form.phone);">
                    <label class="control-label">手机号码</label>
                    <div class="controls">
                        <input type="text" name="phone" required
                               ng-model='addUser.obj.phone'
                               ng-change="addUser.form.phone.$valid && checkPhoneExist(addUser.obj.phone);"
                               ng-pattern="REGEX.cellphone" >
                        <span class="help-inline">
                            <span ng-if="addUser.form.phone.$valid" ng-bind="phoneExistInfo"></span>
                        </span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(addUser.form.email);">
                    <label class="control-label">电子邮箱</label>
                    <div class="controls">
                        <input type="text" name="email"
                               ng-model='addUser.obj.email'
                               ng-pattern="REGEX.email">
                        <span class="help-inline"></span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">信息通知规则</label>
                    <div class="controls">
                        <select ng-options="item as item.name for item in alarmInformList" ng-model="addUser.obj.informRule">
                            <option ng-bind="'无'"></option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="addUser.form.$invalid || isPhoneExist">生成账号并通知</button>
                <button type="reset" class="btn btn-default" ng-click="addUser.clear();">取消</button>
            </div>
        </form>
        
        <form class="modal hide form-horizontal" data-backdrop="static" id="modifyUserModal"
              name="modifyUser.form" novalidate ng-submit="modifyUser.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="modifyUser.clear();"><i class="ic ic-close"></i></button>
                <h3>修改用户</h3>
            </div>
            <div class="modal-body scroll">
                <div class="control-group">
                    <label class="control-label">账号</label>
                    <div class="controls">
                        <input type="text" name="username" readonly required
                               ng-model='modifyUser.obj.username'
                               placeholder="{{REGEX.usernameDesc}}"
                               ng-pattern="REGEX.username">
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(modifyUser.form.password);">
                    <label class="control-label">密码</label>
                    <div class="controls">
                        <input type="text" name="password"
                               ng-model='modifyUser.obj.password'
                               placeholder="密码不修改则不填写"
                               ng-pattern="REGEX.password">
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(modifyUser.form.name);">
                    <label class="control-label">姓名</label>
                    <div class="controls">
                        <input type="text" name="name" required
                               ng-model="modifyUser.obj.name"
                               placeholder="{{REGEX.personNameDesc}}"
                               ng-pattern="REGEX.personName" >
                        <span class="help-inline"></span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">用户角色</label>
                    <div class="controls">
                        <input type="text" name="type" readonly required
                               ng-model="modifyUser.obj.type">
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-if="modifyUser.obj.type === CONST.userType.ordinary" ng-class="getValidClass(modifyUser.form.userGroup);">
                    <label class="control-label">用户组</label>
                    <div class="controls">
                        <select name="type" required
                                ng-model="modifyUser.obj.userGroup"
                                ng-options="item.name as item.name for item in userGroupList">
                        </select>
                        <span class="help-inline"></span>
                    </div>
                </div>
                
                <div class="control-group" ng-class="getValidClass(modifyUser.form.department);">
                    <label class="control-label">部门</label>
                    <div class="controls">
                        <select name="department" 
                                ng-if="!modifyUser.style"
                                ng-model="modifyUser.obj.department" 
                                ng-options="item as item for item in departmentList"
                                ng-pattern="REGEX.department">
                        </select>
                        <input type="text" name="department"
                               ng-if="modifyUser.style" 
                               ng-model="modifyUser.obj.department"
                               ng-pattern="REGEX.department">
                        <span class="help-inline"></span>
                        <div scloud-checkbox selected="modifyUser.style" content="手动输入"></div>
                    </div>
                </div>
                
                <div class="control-group" ng-class="getValidClass(modifyUser.form.phone);">
                    <label class="control-label">手机号码</label>
                    <div class="controls">
                        <input type="text" name="phone" required
                               ng-model="modifyUser.obj.phone" 
                               ng-change="modifyUser.form.phone.$valid && modifyUser.obj.phone !== modifyUser.originalUser.phone && checkPhoneExist(modifyUser.obj.phone);"
                               ng-pattern="REGEX.cellphone" >
                        <span class="help-inline">
                            <span ng-if="modifyUser.form.phone.$valid" ng-bind="modifyUser.obj.phone !== modifyUser.originalUser.phone ? phoneExistInfo : '手机号可用'"></span>
                        </span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(modifyUser.form.email);">
                    <label class="control-label">电子邮箱</label>
                    <div class="controls">
                        <input type="text" name="email"
                               ng-model='modifyUser.obj.email'
                               ng-pattern="REGEX.email">
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">信息通知规则</label>
                    <div class="controls">
                        <select ng-options="item as item.name for item in alarmInformList" ng-model="modifyUser.obj.informRule">
                            <option ng-bind="'无'"></option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="modifyUser.form.$invalid || isPhoneExist">确定</button>
                <button type="button" class="btn btn-default" ng-click="modifyUser.clear();">取消</button>
            </div>
        </form>

        <form class="modal hide form-horizontal" data-backdrop="static" id="modifyTierModal"
              name="modifyTier.form" novalidate ng-submit="modifyTier.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="modifyTier.clear();"><i class="ic ic-close"></i></button>
                <h3>修改管辖区域</h3>
            </div>
            <div class="modal-body scroll">
                <div class="control-group">
                    <label class="control-label">姓名</label>
                    <div class="controls">
                        <input type="text" name="name" readonly
                               ng-model="modifyTier.obj.name">
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">管辖区域</label>
                    <div class="controls">
                        <div class="tree-box scroll">
                            <ul id="areaTree" class="ztree"></ul>
                            <div class="loader" ng-show="treeLoading">
                                <i class="ic ic-spinner ic-spin ic-5x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="modifyTier.form.$invalid">确定</button>
                <button type="button" class="btn btn-default" ng-click="modifyTier.clear();">取消</button>
            </div>
        </form>
        
        <form class="modal hide form-horizontal" data-backdrop="static" id="deleteUserModal"
              name="deleteUser.form" novalidate ng-submit="deleteUser.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="deleteUser.clear();"><i class="ic ic-close"></i></button>
                <h3>删除用户</h3>
            </div>
            <div class="modal-body scroll">
                <div class="notification">
                    <h4 class="title"><i class="ic ic-warning font-warning"></i>确定要删除该用户？</h4>
                    <p class="content">
                        注意，将要删除的用户是
                        <strong class="font-danger" ng-bind="deleteUser.obj.name"></strong>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="deleteUser.form.$invalid">确认</button>
                <button type="button" class="btn btn-default" ng-click="deleteUser.clear();">取消</button>
            </div>
        </form>
        
        <form class="modal hide form-horizontal" data-backdrop="static" id="addUsersModal"
              name="addUsers.form" novalidate ng-submit="addUsers.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="addUsers.clear();"><i class="ic ic-close"></i></button>
                <h3>批量生成用户</h3>
                
            </div>
            <div class="modal-body text-center scroll">
                <button type="button" class="btn btn-primary" ng-click="addUsers.select();">选择文件</button>
                
                <span ng-hide="!fileUpload.files" ng-bind="fileUpload.info.name" class="label label-info"></span>
                <span ng-hide="!fileUpload.files" ng-bind="fileUpload.info.size" class="label label-info"></span>
                <span ng-show="!fileUpload.files" class="label label-default"><i class="ic ic-paperclip"></i> 未选择任何文件</span>
                
                <input id="fileUploadBtn" name="file" type="file" accept=".xls,.xlsx" ng-file-select="fileUpload.onFileSelect($files, 'excel');"/>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="!fileUpload.files">确认</button>
                <button type="reset" class="btn btn-default" ng-click="addUsers.clear();">取消</button>
            </div>
        </form>
    </div>
</section>