<section id="dhcPage" class="card-bg scroll" style="padding: 16px;outline: none;">
    <h1 class="mgb">Develop Http Client</h1>
    <div class="form-inline mgb">
        <label>请求路径</label><br>
        <select ng-model="method" ng-init="method = methods[0];"
                ng-options="item as item for item in methods"
                class="short-input">
        </select>
        <select class="long-input"
                ng-model="request" ng-change="showParam(request.param);uri = request.uri;"
                ng-options="item as item.uri group by item.pre for item in requests"></select>
        <input class="long-input" type="text" ng-model="uri">
        <input type="text" class="short-input" ng-model="requestTimes" ng-init="requestTimes = 1;">次
        <button type="submit" class="btn btn-primary" ng-disabled="!uri || pending" ng-click="sendRequest(requestTimes);">
            <i ng-class="{'ic ic-spinner ic-spin':pending}"></i>发送
        </button>
    </div>

    <div class="form-inline mgb">
        <label>请求说明</label>
        <span ng-bind="request.desc | nullFilter"></span>
    </div>

    <div class="form-inline col-3">
        <label>请求参数</label>
        <textarea rows="30" ng-model="paramJson"></textarea>
    </div>
    <div class="form-inline col-3" ng-repeat="item in responses">
        <label>返回参数{{$index + 1}} <span ng-bind="'(耗时 '+ item.time + ' ms)'"></span></label>
        <textarea rows="30" ng-model="item.data"></textarea>
    </div>
</section>

<style>
    .short-input{
        width: 60px;
    }
    .long-input{
        width: 300px;
    }
    .form-inline>textarea{
        width:97%;
        padding:5px;
    }
    .col-3{
        display: inline-block;
        width:25%;
    }
    textarea{
        font-family: 'consolas';
    }
</style>