<section id="helpPage">

    <div class="left card-bg" id="helpNav">
        <ul class="nav nav-tabs nav-stacked">
            <li ng-repeat="item in tabPage.pageList" ng-class="{active:tabPage.isActive($index)}"
                ng-click="tabPage.showPage($index);">
                <a ng-bind='item'></a>
            </li>
        </ul>
    </div>

    <div class="right card-bg">
        <div class="page-header">
            <h1 ng-bind="tabPage.currentPage"></h1>
        </div>
        <div class="page-body scroll" data-spy="scroll" data-target="#helpNav">
            <section class="first" ng-repeat="firstItem in firstList" ng-show="tabPage.isActive($index)">
                <section class="second" ng-repeat="secondItem in firstItem.secondList">
                    <h4>
                        <span ng-bind="($parent.$index + 1) + '.' + ($index + 1) + ' ' + secondItem.title"></span>
                    </h4><br>
                    <p ng-repeat="secondContent in secondItem.content" ng-bind="secondContent"></p>
                    <section class="third" ng-repeat="thirdItem in secondItem.thirdList">
                        <h5 ng-bind="($parent.$parent.$index + 1) + '.' + ($parent.$index + 1) + '.' + ($index + 1) + '【' + thirdItem.title + '】'"></h5>
                        <br>
                        <p ng-repeat="thirdContent in thirdItem.content">
                                <span ng-repeat="span in thirdContent">
                                    <span ng-if="!matchIcon(span);" ng-bind="span"></span>
                                    <span ng-if="matchIcon(span);" class="ic {{span}} font-primary"></span>
                                </span>
                        </p>
                        <img ng-repeat="src in thirdItem.img" ng-src="{{CONST.ctx}}/res/img/content/help/{{src}}">
                    </section>
                </section>
            </section>
        </div>
    </div>

</section>