<section id="navPage" ng-controller="navController">

    <div class="top-bar">

        <div class="system-name">
            <img class="logo" ng-if="!!logoSrc" ng-src="{{logoSrc}}">
            <img class="logo" ng-if="!logoSrc" ng-src="{{CONST.ctx}}/res/img/app/yiyi.png">
            <h3>
                <span ng-if="!logoSrc" ng-bind="platformName"></span>
            </h3>
        </div>
    
        <div class="menu first-menu" 
            ng-repeat="menu in menus | orderBy: 'priority'" 
            ng-class="menuTool.isSelected(menu, currentMenu);"
            ng-click="selectMenu({level1:menu})">
            <a ng-bind="menu.name"></a>
            <div ng-class="menuTool.isSelected(menu, currentMenu);">
                <div class="b b1"></div>
                <div class="b b2"></div>
                <div class="b b3"></div>
                <div class="b b4"></div>
            </div>
        </div>

        <div class="exchange" ng-if="isExchange" ng-click="exchange()">
            <a class="ic ic-exchange ic-2x" title="切换企业"></a>
        </div>

        <div class="exit">
            <a ng-click="logout();" class="ic ic-logout ic-2x" title="退出"></a>
        </div>

        <div class="help" ng-if="enterprise">
            <a href="#/help" class="ic ic-help ic-2x" title="帮助"></a>
        </div>

        <div class="info">
            <a class="ic ic-user-o ic-2x" title="信息"></a>
            <div class="detail scroll outset-shadow">
                <table>
                    <tr>
                        <td class="title" colspan="2">个人信息</td>
                    </tr>
                    <tr>
                        <td>姓名</td>
                        <td>
                            <span ng-bind="user.name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>账号</td>
                        <td>
                            <span ng-bind="user.username"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>用户类型</td>
                        <td>
                            <span ng-bind="user.classes"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>用户角色</td>
                        <td>
                            <span ng-bind="user.type"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>用户组</td>
                        <td>
                            <span ng-bind="user.userGroup | nullFilter"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>联系方式</td>
                        <td>
                            <span ng-bind="user.phone | nullFilter"></span>
                            <a ng-hide="user.userGroup === '维护人员组'" ng-click="modifyPhone.toModal();" class="ic ic-edit" title="修改手机"></a>
                        </td>
                    </tr>

                    <tr>
                        <td>密码</td>
                        <td>
                            <span ng-bind="user.password"></span>
                            <a ng-hide="user.userGroup === '维护人员组'" ng-click="modifyPassword.toModal();" class="ic ic-edit" title="修改密码"></a>
                        </td>
                    </tr>

                    <tr ng-if="user.classes === CONST.userClasses.agency">
                        <td>企业Logo</td>
                        <td>
                            <a ng-click="modifyLogo.toModal();" class="ic ic-edit" title="修改Logo"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="notice">
            <a ng-href="{{noticeHref}}" class="ic ic-notice ic-2x" title="公告"></a>
            <span ng-if="noticeCount" class="hot-point" ng-bind="noticeCount"></span>
        </div>

        <div class="exit" ng-show="CONST.showFullscreen">
            <a href="" onclick="Fullscreen.enable()">全屏</a>
        </div>
    </div>

    <div>
        <form class="modal hide form-horizontal" data-backdrop="static" id="modifyPhoneModal"
              name="modifyPhone.form" novalidate ng-submit="modifyPhone.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="modifyPhone.clear();"><i class="ic ic-close"></i></button>
                <h3>绑定手机</h3>
            </div>
            <div class="modal-body scroll">
                <div class="control-group"
                     ng-class="getValidClass(modifyPhone.form.phone) + (modifyPhone.obj.phone === user.phone && ' error')">
                    <label class="control-label">手机</label>
                    <div class="controls">
                        <input type="text" name="phone" required
                               ng-model='modifyPhone.obj.phone'
                               ng-change="modifyPhone.form.phone.$valid && checkPhoneExist(modifyPhone.obj.phone);"
                               ng-pattern="REGEX.cellphone" >
                        <span class="help-inline">
                                <span ng-if="modifyPhone.form.phone.$valid" ng-bind="modifyPhone.obj.phone !== user.phone ? existInfo : '与目前手机号相同'"></span>
                            </span>
                    </div>
                </div>
                <div class="control-group" ng-class="getValidClass(modifyPhone.form.messageCode);">
                    <label class="control-label">短信验证码</label>
                    <div class="controls">
                        <input type="text" name="messageCode" required class="short-input"
                               ng-model="modifyPhone.obj.messageCode"
                               ng-pattern="REGEX.messageCode">
                        <button type="button" class="btn btn-primary"
                                ng-click="sendPhoneCode(modifyPhone.obj.phone);"
                                sng-Have='modifyPhone.have'
                                scloud-count-down sng-count="60" sng-title="发送" sng-disabled="modifyPhone.form.phone.$invalid || isPhoneExist">
                            <i class="ic ic-send ic-min"></i>
                        </button>
                        <span class="help-inline">
                                <span ng-bind="codeError"></span>
                            </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"
                        ng-disabled="modifyPhone.form.$invalid || isPhoneExist">确认</button>
                <button type="reset" class="btn btn-default"
                        ng-click="modifyPhone.clear();">取消</button>
            </div>
        </form>

        <form class="modal hide form-horizontal" data-backdrop="static" id="modifyPasswordModal"
              name="modifyPassword.form" novalidate ng-submit="modifyPassword.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="modifyPassword.clear();"><i class="ic ic-close"></i></button>
                <h3>修改密码</h3>
            </div>
            <div class="modal-body scroll">
                <div class="control-group" ng-class="getValidClass(modifyPassword.form.oldPwd);">
                    <label class="control-label">原密码</label>
                    <div class="controls">
                        <input type="password" name="oldPwd" required
                               ng-model='modifyPassword.obj.oldPwd'>
                        <span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group" ng-class="getValidClass(modifyPassword.form.newPwd);">
                    <label class="control-label">新密码</label>
                    <div class="controls">
                        <input type="password" name="newPwd" required
                               ng-model='modifyPassword.obj.newPwd'
                               ng-pattern="REGEX.password">
                        <span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group" ng-class="getValidClass(modifyPassword.form.confirmPwd);">
                    <label class="control-label">确认新密码</label>
                    <div class="controls">
                        <input type="password" name="confirmPwd" required
                               ng-model='modifyPassword.obj.confirmPwd'
                               ng-pattern="REGEX.password" >
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="modifyPassword.form.$invalid || modifyPassword.obj.newPwd !== modifyPassword.obj.confirmPwd">确认</button>
                <button type="reset" class="btn btn-default" ng-click="modifyPassword.clear();">取消</button>
            </div>
        </form>

        <form class="modal hide form-horizontal" data-backdrop="static" id="modifyLogoModal"
              name="modifyLogo.form" novalidate ng-submit="modifyLogo.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="modifyLogo.clear();"><i class="ic ic-close"></i></button>
                <h3>上传Logo</h3>

            </div>
            <div class="modal-body scroll">
                <div class="control-group">
                    <label class="control-label">图片</label>
                    <div class="controls">
                        <button type="button" class="btn btn-primary" ng-click="modifyLogo.select();">选择文件</button>
                        <input id="pngUploadBtn" name="file" type="file" accept="image/png" ng-file-select="fileUpload.onFileSelect($files, 'png');"/>

                        <span ng-hide="!fileUpload.files" class="label label-info">
                                <i class="ic ic-paperclip"></i> <span ng-bind="fileUpload.info.name"></span>
                            </span>
                        <span ng-show="!fileUpload.files" class="label label-default">
                                <i class="ic ic-paperclip"></i> 未选择任何文件
                            </span>

                        <label class="mgt">要求： png格式，宽高比≤8，尺寸≤400*50</label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">预览</label>
                    <div class="controls">
                        <div ng-hide="!fileUpload.files" class="mgb">
                            <img ng-src="{{fileUpload.info.img.src}}">
                        </div>
                        <br>

                        <span ng-hide="!fileUpload.files" ng-bind="fileUpload.info.size" class="label label-info"></span>
                        <span ng-hide="!fileUpload.files" ng-bind="fileUpload.info.img.width + ' * ' + fileUpload.info.img.height" class="label label-info"></span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="!fileUpload.files || fileUpload.info.img.width > 400 || fileUpload.info.img.height > 50 || fileUpload.info.img.width / fileUpload.info.img.height > 8">确认</button>
                <button type="reset" class="btn btn-default" ng-click="modifyLogo.clear();">取消</button>
            </div>
        </form>
    </div>

    <div class="mask toggle" ng-show="__navbarHideSidebar && popupMenu" ng-click="popupMenu = false;"></div>
    <div class="side-bar" ng-class="__navbarHideSidebar && 'shadow'" ng-style="{left: popupMenu || !__navbarHideSidebar ? 0 : '-237px'}">
        <div class="first-menu">
            <div class="first-menu-title" ng-click="selectMenu({level1:curMenu}, true)">
                <span class = "menu-title" ng-bind="curMenu.name"></span>
                <i class="ic-angle-down ic" ng-show="curMenu.nextMenuList.length > 0" ng-class="curMenu.expanded && 'expanded'"></i>
            </div>
            <div class="menu-wrapper">
                <ul class="second-menu-list scroll" id="menu-scroll" ng-style="{height: menuHeight + 'px'}" setting = '{"horizrailenabled": false}'>
                    <li class="second-menu" ng-repeat = "level2 in curMenu.nextMenuList | orderBy: 'priority'">
                        <div class="second-menu-title" ng-click="selectMenu({level1:curMenu, level2:level2})" ng-class="menuTool.isSelected(level2, currentMenu);">
                            <div class="sprite sprite-menu" ng-class="'sprite-' + level2.code"></div>
                            <span class = "menu-title" ng-bind="level2.name"></span>
                            <i class="ic-angle-down ic" ng-show="level2.nextMenuList.length > 0" ng-class="level2.expanded && 'expanded'"></i>
                        </div>
                        <ul class="third-menu-list" ng-style="{height: level2.expanded ? level2.nextMenuList.length * 40 + 'px' : 0}">
                            <li class="third-menu" ng-repeat="level3 in level2.nextMenuList | orderBy: 'priority'">
                                <div class="third-menu-title" ng-click="selectMenu({level1:curMenu, level2:level2, level3:level3})" ng-class="menuTool.isSelected(level3, currentMenu);">
                                    <span class = "menu-title" ng-bind="level3.name"></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>