/target/
!.mvn/wrapper/maven-wrapper.jar
/AppResources/sn/
/testResources/
/reportsResources/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

.flattened-pom.xml
target
baseJar/*.jar
baseJar/*.xml
