<section id="configurationManagerPage">
    <div class="nav-tree cloak filter-online" ng-style="{top: __navbarTreeTop + 'px', display: 'block'}">
        <scloud-checkbox selected="searchKey.online" content="在线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <scloud-checkbox selected="searchKey.offline" content="离线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <input type="text" placeholder="搜索站点位置" ng-model="searchKey.keyword" ng-change="getNodesByParamFuzzy()">
        <div class="scroll-wrap">
            <ul id="areaTree" class="ztree scroll" ng-hide="zTree.isEmpty"></ul>
            <div ng-show="zTree.isEmpty" class="no-data">
                <div class="img img-2x"></div>
            </div>
        </div>
        <div class="loader" ng-show="treeLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
        <div class="disabledAllMask" ng-show='disabledAll'></div>
    </div>

    <div class="center">
        <!--场景展现层-->
        <div id="canvas"></div>

            <!--toolbar-->
            <div class="toolBar-wrapper">
                <ul class="toolBar">
                    <li ng-click="SetConfiguration.move()" ng-class = 'scene3D.user.state === "selecting" ? "" : "disabled"'>
                        <i class="ic ic-arrows"></i>
                        <span>移动</span>
                    </li>
                    <li ng-click="methods.undo()" ng-class = 'canUndo ? "" : "disabled"'>
                        <i class="ic ic-undo"></i>
                        <span>撤销</span>
                    </li>
                    <li ng-click="methods.redo()" ng-class = 'canRedo ? "" : "disabled"'>
                        <i class="ic ic-undo" style='-webkit-transform: rotate(180deg);'></i>
                        <span>重做</span>
                    </li>
                    <li ng-click="methods.rotate()" ng-class = 'scene3D.user.state === "selecting" ? "" : "disabled"'>
                        <i class="ic ic-3d-rotate"></i>
                        <span>旋转</span>
                    </li>
                    <li ng-click="methods.showAlarmModal('delete')" ng-class = 'scene3D.user.state === "selecting" ? "" : "disabled"'>
                        <i class="ic ic-delete"></i>
                        <span>删除</span>
                    </li>
                    <li ng-click="methods.showDeviceInfo()" ng-class = 'scene3D.user.state === "selecting" ? "" : "disabled"'>
                        <i class="ic ic-setting"></i>
                        <span>属性</span>
                    </li>
                    <li ng-click="methods.showAlarmModal('reset')">
                        <i class="ic ic-reset"></i>
                        <span>重置</span>
                    </li>
                    <li ng-click="methods.exportToBackground.toModal()">
                        <i class="ic ic-upload"></i>
                        <span>导出</span>
                    </li>
                    <li ng-click="methods.colorConfig.toModal('save')">
                        <i class="ic ic-color"></i>
                        <span>颜色</span>
                    </li>
                    <li ng-click="methods.showAlarmModal('save')">
                        <i class="ic ic-download"></i>
                        <span>保存</span>
                    </li>
                    <div class="disabledAllMask" ng-show='disabledAll'></div>
                </ul>
            </div>

        <div ng-if = 'methods.bindingDevice.show' id="bindingDevice">
            <button class="btn btn-primary" ng-click="methods.bindingDevice.clear()">确认</button>
        </div>
    </div>

    <div class="right card-bg">
        <div scloud-toggle target="target2" other="other2" position="left"></div>
        <div class="tab-page">

            <div class="search_device">
                <i class="searchIcon ic ic-search"></i>
                <input type="text" class="input" ng-model="searchDevice" placeholder="搜索设备">
            </div>

            <ul class="nav nav-tabs nav-transparent">
                <li ng-repeat="item in tabPage.pageList" ng-class="{active:tabPage.isActive($index)}">
                    <a ng-click="tabPage.showPage($index);" ng-bind="item"></a>
                </li>
            </ul>

            <div class="page-content page-content-full" ng-show="tabPage.isActive(0)">
                <ul>
                    <li ng-click="methods.createScene('1')">
                        <span class="type-image baseStation"></span>
                        <span class="type-name">室内基站</span>
                    </li>
                    <li ng-click="methods.createScene('2')">
                        <span class="type-image IDC"></span>
                        <span class="type-name">IDC机房</span>
                    </li>
                    <li ng-click="methods.createCapsule('capsule1')">
                        <span class="type-image IDC"></span>
                        <span class="type-name">单舱体</span>
                    </li>
                    <li ng-click="methods.createCapsule('capsule2')">
                        <span class="type-image IDC"></span>
                        <span class="type-name">双舱体</span>
                    </li>
                    <li ng-click="methods.createCapsule('capsule3')">
                        <span class="type-image IDC"></span>
                        <span class="type-name">三舱体</span>
                    </li>
                </ul>
            </div>
            <div class="page-content page-content-full scroll" ng-show="tabPage.isActive(1)">
                <ul>
                    <li ng-repeat="item in sceneModelList | orderBy: order.byScene | filter: {name: searchDevice }" 
                        ng-click="methods.addDeviceWhetherNeedContainer(item.model.needContainer, item.type, $index, item)"
                        ng-show="visibleInMode(item)">
                        <span class="type-image" ng-class="item.subType==='default'?item.type:item.subType"></span>
                        <span class="type-name" ng-bind="item.name"></span>
                    </li>
                </ul>
            </div>
            <div class="page-content scroll" ng-show="tabPage.isActive(2)">
                <ul>
                    <li ng-repeat="item in deviceTypeList | orderBy: 'type'  | filter: {typeName: searchDevice }" 
                        ng-click="methods.selectType(item.type)"
                        ng-show="visibleInMode(item)">
                        <span class="type-image" ng-class="item.type"></span>
                        <span ng-bind="item.typeName"></span>
                    </li>
                </ul>
            </div>
        </div>

        <!--设备列表-->
        <div class="device-list" ng-show="tabPage.isActive(2)">
            <span class="title" ng-bind="devices[currentType].typeName"></span>
            <hr>
            <div class="search-wrapper">
                <input type="text" class="input" ng-model="searchContent" placeholder="搜索设备">
            </div>
            <div class="list-wrapper scroll">
                <ul class="list">
                    <li ng-repeat="item in devices[currentType].list | filter: {name: searchContent } | orderBy: 'code' track by $index"
                        ng-click="methods.addDeviceWhetherNeedContainer(item.model.needContainer, item.type, $index, item)"
                        ng-hide="item.isHide">
                        <span ng-bind="item.name"></span>
                        <!--<span ng-bind="item.code"></span>-->
                    </li>
                </ul>
            </div>
        </div>
        <div class="disabledAllMask" ng-show='disabledAll'></div>
    </div>

    <!--场景加载进度条-->
    <div class="modal hide" data-backdrop="static" id="loadingModal">
        <div class="load-wrapper">
            <div id="load-bar">
                <div id="bar">
                    <span id="progressNum"></span>
                </div>
            </div>
        </div>
    </div>

    <!--设备属性信息-->
    <div class="modal hide" data-backdrop="static" id="propertyModal">
        <div class="modal-header">
            <h4>属性</h4>
            <button type="reset" class="close" ng-click="methods.hideDeviceInfo(curContainer);"><i class="ic ic-close"></i></button>
        </div>
        <div class="modal-body scroll">
            <dl class="dl-horizontal">
                <dt>设备名称：</dt>
                <dt>设备ID：</dt>
                <dt>生产厂商：</dt>
                <dt>缩放比例：</dt>
                <dt>悬空：</dt>
                <dt ng-show = '!isDefaultDeviceInfo && curContainer.device.model.flipable'>X轴翻转：</dt>
                <dt ng-show = '!isDefaultDeviceInfo && curContainer.device.model.flipable'>Z轴翻转：</dt>
                <dl ng-show = "isDefaultDeviceInfo">
                    <dd ng-bind='curContainer.device.name | nullFilter'></dd>
                    <dd ng-bind="curContainer.device.code | nullFilter"></dd>
                    <dd ng-bind="curContainer.device.info.manufactory | nullFilter"></dd>
                    <dd ng-bind="curContainer.newScale.x  | nullFilter"></dd>
                    <dd ng-bind="curContainer.hangOver | nullFilter"></dd>
                </dl>
                <form ng-hide="isDefaultDeviceInfo" name="deviceInfo">
                    <dd class="device-name form-group">
                        <input type="text" name="deviceName"
                               ng-model="curContainer.device.name"
                               required
                        >
                        <span class="error" ng-if="deviceInfo.deviceName.$invalid">
                            *名称不可为空
                        </span>
                    </dd>
                    <dd ng-bind="curContainer.device.code | nullFilter"></dd>
                    <dd ng-bind="curContainer.device.info.manufactory | nullFilter"></dd>
                    <dd class="device-scaling form-group">
                        <input type="number" name="scaling"
                               ng-model="curContainer.newScale.x"
                               ng-pattern="/^(([1-9][0-9]*(.[0-9]{0,1}[1-9])?)|(0.[0-9]{0,1}[1-9]))$/">
                        <span class="error" ng-if="deviceInfo.scaling.$invalid">
                            *请输入>0数
                        </span>
                    </dd>
                    <dd class="device-pos form-group">
                        <input type="number" name="devicePos"
                               ng-model="curContainer.hangOver"
                               ng-pattern="/^[0-9]*$/"
                               required
                               >
                        <span class="error" ng-if="deviceInfo.devicePos.$invalid">
                            *请输入≥0的整数
                        </span>
                    </dd>
                    <dd class="form-group" ng-show='curContainer.device.model.flipable'>
                        <a ng-click="curContainer.setFlip('x');">
                            <scloudmytarget myid='fx' ifchecked='curContainer.flipX < 0'></scloudmytarget>
                        </a>
                    </dd>
                    <dd class="form-group" ng-show='curContainer.device.model.flipable'>
                        <a ng-click="curContainer.setFlip('z');">
                            <scloudmytarget myid='fz' ifchecked='curContainer.flipZ < 0'></scloudmytarget>
                        </a>
                    </dd>
                </form>
            </dl>
        </div>
        <div class="modal-footer">
            <!--<button class="btn btn-primary" ">修改</button>-->
            <button class="btn btn-primary"
                    ng-show="isDefaultDeviceInfo && curContainer.device.bindWith"
                    ng-click = 'methods.bindingDevice.toModal(curContainer, "bind"); methods.hideDeviceInfo(curContainer);'
                    ng-disabled="deviceInfo.devicePos.$invalid
                                || deviceInfo.scaling.$invalid">绑定设备</button>
            <button class="btn btn-primary"
                    ng-show="isDefaultDeviceInfo && curContainer.device.model.inGroup"
                    ng-click = 'methods.bindingDevice.toModal(curContainer, "group"); methods.hideDeviceInfo(curContainer);'
                    ng-disabled="deviceInfo.devicePos.$invalid
                                || deviceInfo.scaling.$invalid">设备编组</button>
            <button class="btn btn-primary"
                    ng-click="methods.saveModify($event)"
                    ng-disabled="deviceInfo.devicePos.$invalid
                                || deviceInfo.scaling.$invalid">修改</button>
        </div>
    </div>

    <!--展示智能改建背景-->
    <div class="modal hide" data-backdrop="static" id="smartControl">
        <div class="modal-header">
            <h4>智能改建背景</h4>
            <button type="reset" class="close" ng-click="methods.exportToBackground.clear();"><i class="ic ic-close"></i></button>
        </div>
        <div class="modal-body">
            <div class="wrapper" 
                ng-mousemove = 'methods.exportToBackground.mousemove($event)' 
                ng-mouseup = 'methods.exportToBackground.mouseup($event)'
                ng-style = '{fontSize: methods.exportToBackground.totalFontSize + "px"}'>
                <canvas     
                    id = 'smartControlCanvas'
                    ng-mousemove = 'methods.exportToBackground.canvasHover($event);'
                    ng-mouseleave = 'methods.exportToBackground.canvasLeave();'
                    ng-click = 'methods.exportToBackground.canvasClick($event);'></canvas>
                <label ng-show = 'methods.exportToBackground.editText' for="smartControlInput" class="clickArea" ng-click = 'methods.exportToBackground.createText($event)'></label>
                <label class="smartControlText"
                    ng-repeat = 'item in methods.exportToBackground.textList' 
                    for = 'smartControlInput' 
                    ng-class='item.active?"hide":""'  
                    ng-style='{left: item.pos.x + "px", top: item.pos.y + "px", marginLeft: -item.width / 2 + "px", lineHeight: methods.exportToBackground.totalFontSize + "px"}'                  
                    ng-mousedown = 'methods.exportToBackground.mousedown($event, item)'
                    ng-mouseup = 'methods.exportToBackground.mouseup($event)'>
                        {{item.text}}
                        <span ng-mousedown = 'methods.exportToBackground.toDelete($event, item);'>&times;</span>
                    </label>
                
                <input type="text" id = 'smartControlInput' 
                    ng-style='{left: methods.exportToBackground.curText.pos.x + "px", top: methods.exportToBackground.curText.pos.y + "px", height: methods.exportToBackground.totalFontSize  + "px"}'
                    ng-model = 'methods.exportToBackground.curText.text' 
                    ng-blur = 'methods.exportToBackground.onBlur();' 
                    ng-class='methods.exportToBackground.curText.active?"":"hide"'>
            </div>
            <div class="toolBar">
                <i class = 'ic ic-undo turnLeft' style="transform: scaleX(-1) rotate(180deg);" ng-click = 'methods.exportToBackground.turnLeft();'></i>
                <i class = 'ic ic-undo turnRight' style="transform: rotate(180deg);" ng-click = 'methods.exportToBackground.turnRight();'></i>
                <button class="btn btn-primary" ng-click = 'methods.exportToBackground.editText = !methods.exportToBackground.editText' ng-bind = 'methods.exportToBackground.editText ? "地板颜色编辑" : "文本编辑"'></button>
                <div class="color-ref" ng-show='!methods.exportToBackground.editText'>
                    <span>颜色指定：</span>
                    <label for="colorPicker" ng-style='{background: methods.exportToBackground.curColor}'></label>
                    <input id = "colorPicker" type="color" ng-change = 'methods.exportToBackground.setColor();' ng-model='methods.exportToBackground.curColor'>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary"
                    ng-click="methods.exportToBackground.clear();">取消</button>
            <button class="btn btn-primary"
                    ng-click="methods.exportToBackground.execute();">确认</button>
            
        </div>
    </div>

    <!--提醒模态框-->
    <div class="modal hide" data-backdrop="static" id="alarmModal">
        <div class="modal-header">
            <h4>提示</h4>
        </div>
        <div class="modal-body scroll">
            <div>
                <div>
                    <i class="ic ic-2x ic-warning"></i>
                    <span ng-show="selectedButtonName === '重置' ">确定要重置场景？</span>
                    <span ng-show="selectedButtonName === '删除'">确认要删除该设备？</span>
                    <span ng-show="selectedButtonName === '保存'">确认保存场景？</span>
                </div>
                <span class="alarm-content" ng-show="selectedButtonName === '重置' ">若重置场景，将恢复至初始场景。</span>
                <span class="alarm-content" ng-show="selectedButtonName === '删除'">该操作将删除以选中场景内设备。</span>
                <span class="alarm-content" ng-show="selectedButtonName === '保存'">若不保存，您将丢失这些修改。</span>

            </div>
        </div>

        <div class="modal-footer" ng-show="selectedButtonName === '重置' ">
            <button class="btn" ng-click="methods.sceneReset(false)">取消</button>
            <button class="btn btn-primary" ng-click="methods.sceneReset(true)">确认</button>
        </div>
        <div class="modal-footer" ng-show="selectedButtonName === '删除' ">
            <button class="btn" ng-click="methods.deleteObj(false)">取消</button>
            <button class="btn btn-primary" ng-click="methods.deleteObj(true)">确认</button>
        </div>
        <div class="modal-footer" ng-show="selectedButtonName === '保存' ">
            <button class="btn" ng-click="methods.sceneSave(false)">取消</button>
            <button class="btn btn-primary" ng-click="methods.sceneSave(true)">确认</button>
        </div>
    </div>

    <!-- 配置背景和地板的颜色。 -->
    <div class="modal" id = "color-config" ng-show = 'methods.colorConfig.show'>
        <i class="ic ic-close cursor-point" ng-click = 'methods.colorConfig.clear()'></i>
        <ul class="nav nav-tabs nav-transparent">
            <li ng-repeat="item in methods.colorConfig.tabPage.pageList" ng-class="{active:methods.colorConfig.tabPage.isActive($index)}">
                <a ng-click="methods.colorConfig.tabPage.showPage($index);" ng-bind="item"></a>
            </li>
        </ul>
        <div class="tab-content">
            <div ng-repeat = "key in methods.colorConfig.list" ng-show="methods.colorConfig.tabPage.isActive($index)">
                <div class="modal-body"> 
                    <dl class="dl-horizontal">
                        <dt>颜色</dt>
                        <dt>不透明度</dt>
                        <dl>
                            <dd>
                                <div class="transparent">
                                    <input type="text" id="{{key + 'Color'}}" readonly class="cursor-point" 
                                           ng-style="methods.colorConfig.getStyle(methods.colorConfig[key + 'Color'], methods.colorConfig[key + 'Opacity'])">
                                </div>    
                            </dd>                   
                            <dd>
                                <input class = 'opacityRanger' type="range" ng-model = "methods.colorConfig[key + 'Opacity']"
                                    max="1" min="0" step="0.01">
                                <span ng-bind= '(methods.colorConfig[key + "Opacity"] * 100).toFixed(0) + "%"'></span>
                            </dd>
                            
                        </dl>
                    </dl>                        
                </div>
            </div>            
            <div class="modal-footer">
                <button class="setDefault btn btn-default" ng-click = "methods.colorConfig.setDefault()">恢复默认</button>
                <button class='btn btn-primary' ng-click = "methods.colorConfig.execute()">确定</button>
                <button class='btn btn-default' ng-click = "methods.colorConfig.apply()">应用</button>
            </div>
        </div>
    </div>

    <script type="x-shader/x-vertex" id="vertexshader">
        attribute float size;
        attribute float opacity;
        attribute vec3 customColor;
        varying float vOpacity;
        varying vec4 vColor;
        void main() {
            vColor = vec4( customColor, opacity );
            vOpacity = opacity;
            vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
            gl_PointSize = size * ( 300.0 / -mvPosition.z );
            gl_Position = projectionMatrix * mvPosition;
        }
    </script>

    <script type="x-shader/x-fragment" id="fragmentshader">
        uniform vec3 color;
        uniform sampler2D texture;
        varying vec4 vColor;
        varying float vOpacity;
        void main() {
            gl_FragColor = vColor;
            gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );

        }
    </script>

</section>

