<section id="alarmCountPage">

    <ul class="nav nav-tabs">
        <li ng-repeat="item in tabPage.pageList" ng-class="{active:tabPage.isActive($index)}">
            <a ng-click="tabPage.showPage($index);" ng-bind="item"></a>
        </li>
    </ul>

    <div ng-show="tabPage.currentIndex === 0" ng-style="{top: $stateParams.zoom ? '71px' : '31px'}" class="bottom card-bg page1">
        <form class="query-form">
            <div class="form-inline">
                <label>开始时间</label>
                <div class="startTime input-append date" setting='{"format": "YYYY/MM/DD"}'>
                    <input size="16" type="text" value="" ng-model="realtimeQuery.tStart" ng-change="realtimeQueryChange(0)">
                    <span class="add-on"><i class="icon-th icon-white"></i></span>
                </div>
                <label style="text-align: center;">-</label>
                <div class="endTime input-append date" setting='{"format": "YYYY/MM/DD"}'>
                    <input size="16" type="text" value="" ng-model="realtimeQuery.tEnd" ng-change="realtimeQueryChange(1)">
                    <span class="add-on"><i class="icon-th icon-white"></i></span>
                </div>

                <button class="btn btn-primary" ng-click="getRealtimeAlarmChartData();">查询</button>
                <button class="btn btn-default" ng-click="resetRealtimeQuery(true);" ng-disabled="isLoading || isLoadingChart">清除</button>

                <button type="button" class="btn btn-primary"
                    style="float:right"
                    ng-click="exportRealtimeAlarm();"
                    sng-Have='exportRealtimeAlarm.have'
                    sng-title="导出"
                    scloud-count-down sng-count="30"></button>
            </div>
        </form>
        <div class="page-header"><h4>实时告警</h4></div>
        <div class="page-body">
            <div class="left">
                <div id="realTimePie"></div>
                <div id="realtimeAlarmTotalCount">
                    <p ng-bind="totalRealtimeAlarmCount"></p>
                </div>
            </div>
            <div class="right">

                <div class="table-box scroll">
                    <div class="table-header" ng-bind="{'1':'一级告警', '2':'二级告警', '3':'三级告警', '4':'四级告警'}[realtimeQueryLevel] || '全部'"></div>
                    <table border="1" class="countPageTable">
                        <thead>
                        <tr>
                            <th>告警名称</th>
                            <th>告警值</th>
                            <th>站点层级</th>
                            <th>站点名称</th>
                            <th>归属公司</th>
                            <th>告警设备</th>
                            <th>开始时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in realtimeAlarmList" ng-class="CONST.animation.list">
                            <td ng-bind="item.signal.name"></td>
                            <td ng-bind="item.value"></td>
                            <td ng-bind="item.siteTierString"></td>
                            <td ng-bind="item.site.name"></td>
                            <td ng-bind="item.company | nullFilter"></td>
                            <td ng-bind="item.device.name"></td>
                            <td ng-bind="item.tReport | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="loader" ng-show="isRealtimeLoading">
                    <i class="ic ic-spinner ic-spin ic-5x"></i>
                </div>
                <div class="no-data" ng-hide="isRealtimeLoading || realtimePagiConf.totalItems">
                    <div class="img img-2x"></div>
                </div>
                <tm-pagination conf="realtimePagiConf" class="no-print"></tm-pagination>
            </div>
        </div>
    </div>

    <div ng-show="tabPage.currentIndex === 1" ng-style="{top: $stateParams.zoom ? '71px' : '31px'}" class="bottom card-bg page2">
        <form class="query-form">
            <div class="form-inline">
                <label>开始时间</label>
                <div class="startTime input-append date">
                    <input size="16" type="text" value="" ng-model="tierDistQuery.tStart">
                    <span class="add-on"><i class="icon-th icon-white"></i></span>
                </div>
                <label style="text-align: center;">-</label>
                <div class="endTime input-append date">
                    <input size="16" type="text" value="" ng-model="tierDistQuery.tEnd">
                    <span class="add-on"><i class="icon-th icon-white"></i></span>
                </div>

                <button class="btn btn-primary" ng-click="getTierDistAll();">查询</button>
                <button class="btn btn-default" ng-click="resetTierDistQuery(true);" ng-disabled="isLoading || isLoadingChart">清除</button>
            </div>
        </form>
        <div class="page-header"><h4>告警分布</h4></div>
        <div class="page-body">
            <div class="block block-top" id="distribute-chart1"></div>
            <div class="block block-left" id="distribute-chart2"></div>
            <div class="block block-right" id="distribute-chart3"></div>
        </div>
    </div>

    <div ng-show="tabPage.currentIndex === 2" ng-style="{top: $stateParams.zoom ? '71px' : '31px'}" class="bottom card-bg page3">
        <form class="query-form">
            <div class="form-inline">
                <label>开始时间</label>
                <div class="startTime input-append date" setting='{"format": "YYYY/MM/DD"}'>
                    <input size="16" type="text" value="" ng-model="frequentQuery.tStart" ng-change="frequentQueryChange(0)">
                    <span class="add-on"><i class="icon-th icon-white"></i></span>
                </div>
                <label style="text-align: center;">-</label>
                <div class="endTime input-append date" setting='{"format": "YYYY/MM/DD"}'>
                    <input size="16" type="text" value="" ng-model="frequentQuery.tEnd" ng-change="frequentQueryChange(1)">
                    <span class="add-on"><i class="icon-th icon-white"></i></span>
                </div>

                <button class="btn btn-primary" ng-click="getFrequentList();">查询</button>
                <button class="btn btn-default" ng-click="resetFrequentQuery();" ng-disabled="isLoading || isLoadingChart">清除</button>
                <button type="button" class="btn btn-primary"
                    style="float:right"
                    ng-click="exportFrequentList();"
                    sng-Have='exportFrequentList.have'
                    sng-title="导出"
                    scloud-count-down sng-count="30"></button>
            </div>
        </form>
        <div class="page-header"><h4>告警分布</h4></div>
        <div class="page-body">
            <div id="frequent-chart"></div>
            <div id="frequent-xAxis">
                <div ng-repeat = "item in frequentSiteList">
                    <p class="value" ng-bind="item.value"></p>
                    <p class="name" ng-bind="item.name"></p>
                </div>
            </div>
            <div class="table-box scroll">
                <table border="1" class="countPageTable">
                    <thead>
                    <tr>
                        <th rowspan="2">站点</th>
                        <th rowspan="2">归属公司</th>
                        <th colspan="7">告警数量</th>
                    </tr>
                    <tr>
                        <th ng-repeat="item in frequentDateList" ng-bind="item"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in frequentAlarmList" ng-class="CONST.animation.list">
                        <td ng-bind="item.site.name"></td>
                        <td ng-bind="item.site.company | nullFilter"></td>
                        <td ng-bind="item.count[0].count"></td>
                        <td ng-bind="item.count[1].count"></td>
                        <td ng-bind="item.count[2].count"></td>
                        <td ng-bind="item.count[3].count"></td>
                        <td ng-bind="item.count[4].count"></td>
                        <td ng-bind="item.count[5].count"></td>
                        <td ng-bind="item.count[6].count"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>