<section id="alarmDelayPage">
    <div class="bottom-left card-bg" ng-class = 'delay.editItem.updating && "inset-shadow"'>
        <div class="page-header">
            <h3>添加告警延时规则</h3>
        </div>

        <div class="page-body scroll">
            <form class="form-horizontal" name="delay.editItem.form" novalidate>
                <div class="control-group" ng-class="getValidClass(delay.editItem.form.ruleName);">
                    <label class="control-label">规则名称</label>
                    <div class="controls">
                        <input type="text" name="ruleName" ng-model="delay.editItem.model.ruleName" required>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(delay.editItem.form.pAlarm);">
                    <label class="control-label">告警名称</label>
                    <div class="controls">
                        <input type="text" class="form-control" multiple required
                               select2 config="signalList"
                               select2-model="delay.editItem.model.pAlarm"/>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(delay.editItem.form.time);">
                    <label class="control-label">延时时间</label>
                    <div class="controls">
                        <input type="text" name="time" ng-model="delay.editItem.model.time" ng-pattern = 'REGEX.pollingInterval' required>
                        <span>秒</span>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(delay.editItem.form.site);">
                    <label class="control-label">应用站点</label>
                    <div class="controls">
                        <select multiple="multiple" class="multiselect scroll"
                                ng-model="delay.editItem.model.remove"
                                ng-click = 'delay.removeSite(delay.editItem.model.remove)'
                                ng-options="item as item.name for item in delay.editItem.model.site"></select>

                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="tree-box scroll">
                            <ul id="siteTree" class="ztree" ng-hide="zTree.isEmpty"></ul>
                            <p ng-show="zTree.isEmpty">没有符合要求的结果</p>
                            <div class="loader" ng-show="treeLoading">
                                <i class="ic ic-spinner ic-spin ic-5x"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(delay.editItem.form.reason);">
                    <label class="control-label">描述：</label>
                    <div class="controls">
                        <textarea name="reason" ng-model="delay.editItem.model.reason"></textarea>
                    </div>
                </div>

                <div class="control-group btn-groups">
                    <div class="controls">
                        <button class="btn btn-primary"
                                ng-if="!delay.editItem.updating"
                                ng-disabled="delay.editItem.form.$invalid || delay.editItem.model.pAlarm.length < 1"
                                ng-click="delay.editItem.add()">新建</button>
                        <button class="btn btn-primary"
                                ng-if="delay.editItem.updating"
                                ng-disabled="delay.editItem.form.$invalid || delay.editItem.model.pAlarm.length < 1"
                                ng-click="delay.editItem.update()">修改</button>
                        <button class="btn btn-default" ng-click="delay.editItem.cancel()">取消</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="bottom-right card-bg">
        <div>
            <div class="page-header">
                <h3>规则列表</h3>
                <button class="btn btn-primary" ng-click = 'delay.expo()'>导出</button>
            </div>
            <div class="table-box scroll">
                <table scloud-table-head-fix class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>规则名称</th><th>告警名称</th><th>创建人</th><th>延时时间</th><th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in delay.list" ng-class="CONST.animation.list" class = "cursor-point" ng-click="delay.editItem.toUpdate(item)">
                            <td ng-bind="item.delayName | nullFilter"></td>
                            <td ng-bind="getSignalName(item.delayAlarmList[0]).text + (item.delayAlarmList[1] ? ' 等' : '') | nullFilter"></td>
                            <td ng-bind="item.creator.name | nullFilter"></td>
                            <td ng-bind="item.delayTime  | nullFilter | secondFilter"></td>
                            <td>
                                <a class="ic ic-check" title="启用规则" ng-click="delay.editItem.toggleEnable(item); $event.stopPropagation();" ng-show = '!item.enable'></a>
                                <a class="ic ic-times" title="禁用规则" ng-click="delay.editItem.toggleEnable(item); $event.stopPropagation();" ng-show = 'item.enable'></a>
                                <!-- <a class="ic ic-detail" title="查看详情" ng-click=""></a> -->
                                <a class="ic ic-edit" title="修改" ng-click="delay.editItem.toUpdate(item); $event.stopPropagation();" ng-show = '!item.enable'></a>
                                <a class="ic ic-delete" title="删除" ng-click="delay.deleteItemModal.toModal(item); $event.stopPropagation();" ng-show = '!item.enable'></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="loader" ng-show="delay.loading">
                <i class="ic ic-spinner ic-spin ic-5x"></i>
            </div>
            <div class="no-data"
                 ng-hide="delay && delay.pageConf.totalItems">
                <div class="img img-2x"></div>
            </div>
            <tm-pagination conf="delay.pageConf"></tm-pagination>
        </div>
    </div>
        
    <div>
        <form class="modal hide form-horizontal" data-backdrop="static" id="deleteRuleModal">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="delay.deleteItemModal.clear();"><i class="ic ic-close"></i></button>
                <h3>删除告警延时规则</h3>
            </div>
            <div class="modal-body scroll">
                <div class="notification">
                    <p class="content">
                        确定要删除 <strong class="font-danger" ng-bind="delay.deleteItemModal.item.delayName"></strong> 这条规则吗？
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-click="delay.deleteItemModal.execute();">确认</button>
                <button type="reset" class="btn btn-default" ng-click="delay.deleteItemModal.clear();">取消</button>
            </div>
        </form>
    </div>
</section>