<section id="alarmFilterPage">
    <div class="_top card-bg">
        <div class="page-header">
            <h3 ng-show="UPDATE_MODE === 'ADD'">添加过滤规则</h3>
            <h3 ng-show="UPDATE_MODE === 'MODIFY'">修改过滤规则</h3>
        </div>

        <div class="page-body" ng-class="{'inset-shadow':UPDATE_MODE === 'MODIFY'}">
            <form class="form-horizontal _top_left scroll" id="updateRuleModal" name="updateRule.form" novalidate ng-submit="updateRule.execute();">

                <div class="control-group" ng-class="getValidClass(updateRule.form.name);">
                    <label class="control-label">规则名称</label>
                    <div class="controls">
                        <input type="text" name="name" ng-model="updateRule.obj.name" required>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">开始时间</label>
                    <div class="controls">
                        <div class="startTime input-append date">
                            <input size="16" type="text" value="" ng-model="updateRule.obj.startBeginTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        -
                        <div class="endTime input-append date mgl">
                            <input size="16" type="text" value="" ng-model="updateRule.obj.startEndTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">恢复时间</label>
                    <div class="controls">
                        <div class="startTime input-append date">
                            <input size="16" type="text" value="" ng-model="updateRule.obj.clearBeginTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        -
                        <div class="endTime input-append date mgl">
                            <input size="16" type="text" value="" ng-model="updateRule.obj.clearEndTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">告警等级</label>
                    <div class="controls">
                        <input type="text" class="form-control" multiple
                               select2 config="alarmLevelList"
                               select2-model="updateRule.obj.alarmLevelList" />
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(updateRule.form.deviceType);">
                    <label class="control-label">监控设备类型</label>
                    <div class="controls">
                        <input type="text" class="form-control" multiple
                               select2 config="deviceTypeList"
                               select2-model="updateRule.obj.deviceTypes" />
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(updateRule.form.alarmName);">
                    <label class="control-label">告警名称</label>
                    <div class="controls">
                        <input type="text" name="alarmName" ng-model="updateRule.obj.alarmName">
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(updateRule.form.remarks);">
                    <label class="control-label">备注</label>
                    <div class="controls">
                        <textarea name="remarks" ng-model="updateRule.obj.remarks"></textarea>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary"
                                ng-if="UPDATE_MODE === 'ADD' && util.checkPrivilege(1202)"
                                ng-disabled="updateRule.form.$invalid || updateRule.obj.selectedAreaList.length < 1">保存</button>

                        <button type="submit" class="btn btn-primary"
                                ng-if="UPDATE_MODE === 'MODIFY'"
                                ng-disabled="updateRule.form.$invalid || updateRule.obj.selectedAreaList.length < 1">保存</button>

                        <button type="reset" class="btn btn-default" ng-click="updateRule.clear();">取消</button>
                    </div>
                </div>
            </form>

            <form class="form-horizontal _top_right scroll">
            <div class="control-group">
                <label class="control-label">选择位置</label>
                <div class="controls">

                    <scloud-tree-radio
                            is-radio='true'
                            index="0"
                            name="baseSite"
                            content='{"name":" 基于站点", "id": 0}'
                            callback="changeSiteBased"
                    ></scloud-tree-radio>
                    <scloud-tree-radio
                            is-radio='true'
                            index="1"
                            name="baseSite"
                            content='{"name":" 基于区域", "id": 1}'
                            callback="changeSiteBased"
                    ></scloud-tree-radio>
                    <span class="help-inline"></span>
                    &nbsp;
                    <input type="text" placeholder="搜索位置" ng-model="searchKey" ng-change="getNodesByParamFuzzy(searchKey);">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <div ng-show="updateRule.obj.baseSite" class="tree-box scroll">
                        <ul id="areaTree" class="ztree" ng-hide="zTree.isEmpty"></ul>
                        <div ng-show="zTree.isEmpty" class="no-data">
                            <div class="img img-1x"></div>
                        </div>
                        <div class="loader" ng-show="treeLoading">
                            <i class="ic ic-spinner ic-spin ic-5x"></i>
                        </div>
                    </div>
                    <div ng-show="!updateRule.obj.baseSite" class="tree-box scroll">
                        <ul id="areaTree2" class="ztree scroll" ng-hide="zTree2.isEmpty"></ul>
                        <div ng-show="zTree2.isEmpty" class="no-data">
                            <div class="img img-1x"></div>
                        </div>
                        <div class="loader" ng-show="treeLoading2">
                            <i class="ic ic-spinner ic-spin ic-5x"></i>
                        </div>
                    </div>
                    <i class="ic ic-angle-right"></i>
                    <select multiple="multiple" class="multiselect scroll"
                            ng-model="updateRule.obj.removeArea"
                            ng-click="multiNodeSelect.remove(updateRule.obj.removeArea,updateRule.obj.selectedAreaList);"
                            ng-options="item as item.value for item in updateRule.obj.selectedAreaList"></select>
                </div>
            </div>
        </form>
        </div>
    </div>

    <div class="_bottom card-bg">
        <div class="page-header">
            <h3>过滤规则
                <small>
                    <i class="ic ic-help" scloud-tooltip data-content = "【1】同一时间只能启用一条过滤规则，启用新的过滤规则，会停用正在启用状态中的过滤规则。<br>
                       【2】符合过滤条件的告警才会在【告警管理-告警查询】页显示。"></i>
                </small>
            </h3>
            <div class="btn-group" ng-if="util.checkPrivilege(1206) || util.checkPrivilege(1207)">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    导入导出 <i class="ic ic-angle-down ic-min"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-if="util.checkPrivilege(1207)">
                        <a ng-click="exportAlarmFilter();">告警过滤规则导出</a>
                    </li>
                    <li ng-if="util.checkPrivilege(1206)">
                        <a ng-click="importAlarmFilter.toModal();">告警过滤规则导入</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-box scroll">
            <table scloud-table-head-fix class="table table-complicate table-bordered table-hover">
                <thead>
                    <tr>
                        <th>规则名称</th><th>过滤标准</th><th>启用人数</th><th>创建人</th><th>创建时间</th><th>状态</th><th>操作</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in ruleList" ng-class="CONST.animation.list">
                    <tr>
                        <td ng-bind="item.name"></td>
                        <td ng-bind="item.baseSite | siteBaseFilter"></td>
                        <td ng-bind="item.useCount"></td>
                        <td ng-bind="item.creator.name"></td>
                        <td ng-bind="item.updateTime | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                        <td>
                            <label class="label" ng-class="{true:'font-success',false:'font-danger'}[item.state]" ng-bind="item.state | enabledFilter"></label>
                        </td>
                        <td>
                            <a ng-if="!item.state" title="启用" class="ic ic-check" ng-if="util.checkPrivilege(1212)" ng-click="useFilter(item.id, $event);"></a>
                            <a ng-if="item.state" title="禁用" class="ic ic-times" ng-if="util.checkPrivilege(1212)" ng-click="unuseFilter(item.id, $event);"></a>
                            <a title="详情" class="ic ic-detail" ng-click="openDetailTab($index);"></a>
                            <a title="编辑" class="ic ic-edit" ng-click="updateRule.toModal(item, $event);"></a>
                            <a ng-if="!item.state" title="删除" class="ic ic-delete" ng-click="deleteRule.toModal(item, $event);"></a>
                        </td>
                    </tr>
                    <tr ng-if="openDetailIndex !== null && openDetailIndex === $index" ng-class="CONST.animation.detail" ng-cloak>
                        <td colspan="7" class="detail">
                            <ul>
                                <li>告警名称：<span ng-bind="item.rule.alarmName | nullFilter"></span></li>
                                <li>监控设备类型：
                                    <span ng-repeat="deviceType in item.rule.deviceTypeCode">
                                        <span ng-bind="deviceTypeMap[deviceType] + '(' + deviceType + ')'"></span><span ng-hide="$last">、</span>
                                    </span>
                                    <span ng-if="!item.rule.deviceTypeCode || item.rule.deviceTypeCode.length === 0">-</span>
                                </li>
                                <li ng-if="item.rule.baseSite">所选站点：
                                    <span ng-repeat="site in item.site">
                                        <span ng-bind="site.name"></span><span ng-hide="$last">、</span>
                                    </span>
                                </li>
                                <li ng-if="!item.rule.baseSite">所选区域：
                                    <span ng-repeat="tier in item.tier">
                                        <span ng-bind="tier.name"></span><span ng-hide="$last">、</span>
                                    </span>
                                </li>
                            </ul>
                            <ul>
                                <li>告警等级：
                                    <span ng-repeat="alarm in item.alarmLevel">
                                        <span ng-bind="alarm | alarmLevelFilter"></span><span ng-hide="$last">、</span>
                                    </span>
                                    <span ng-if="item.alarmLevel.length === 0">-</span>
                                </li>
                                <li>开始时间：<span ng-bind="item.startBeginTime | date:'yyyy-MM-dd HH:mm:ss' | nullFilter"></span> ~ <span ng-bind="item.startEndTime | date:'yyyy-MM-dd HH:mm:ss' | nullFilter"></span></li>
                                <li>恢复时间：<span ng-bind="item.clearBeginTime | date:'yyyy-MM-dd HH:mm:ss' | nullFilter"></span> ~ <span ng-bind="item.clearEndTime | date:'yyyy-MM-dd HH:mm:ss' | nullFilter"></span></li>
                                <li>备注：<span ng-bind="item.remarks | nullFilter"></span></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="loader" ng-show="isLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
        <div class="no-data" ng-hide="isLoading || paginationConf.totalItems">
            <div class="img img-1x"></div>
        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>

    <div>
        <form class="modal hide form-horizontal" data-backdrop="static" id="deleteRuleModal"
              name="deleteRule.form" novalidate ng-submit="deleteRule.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="deleteRule.clear();"><i class="ic ic-close"></i></button>
                <h3>删除过滤规则</h3>
            </div>
            <div class="modal-body scroll">
                <div class="notification">
                    <h4 class="title"><i class="ic ic-warning font-warning"></i>确定要删除该规则？</h4>
                    <p class="content">
                        确定要删除 <strong class="font-danger" ng-bind="deleteRule.obj.name"></strong> 这条过滤规则吗？
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="deleteRule.form.$invalid">确认</button>
                <button type="reset" class="btn btn-default" ng-click="deleteRule.clear();">取消</button>
            </div>
        </form>

        <form class="modal hide form-horizontal" data-backdrop="static" id="importAlarmFilterModal"
              name="importAlarmFilter.form" novalidate ng-submit="importAlarmFilter.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="importAlarmFilter.clear();"><i class="ic ic-close"></i></button>
                <h3>导入告警过滤规则</h3>
            </div>
            <div class="modal-body text-center scroll">

                <button type="button" class="btn btn-primary" ng-click="importAlarmFilter.select();">选择文件</button>

                <span ng-hide="!fileUpload.files" ng-bind="fileUpload.info.name" class="label label-info"></span>
                <span ng-hide="!fileUpload.files" ng-bind="fileUpload.info.size" class="label label-info"></span>
                <span ng-show="!fileUpload.files" class="label label-default"><i class="ic ic-paperclip"></i> 未选择任何文件</span>

                <input id="fileUploadBtn" name="file" type="file" accept=".xls,.xlsx" ng-file-select="fileUpload.onFileSelect($files, 'excel');"/>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"
                        ng-disabled="!fileUpload.files || importAlarmFilter.loading">
                    <i ng-class="{'ic ic-spinner ic-spin':importAlarmFilter.loading}"></i>确认
                </button>
                <button type="reset" class="btn btn-default" ng-click="importAlarmFilter.clear();">取消</button>
            </div>
        </form>
    </div>
</section>