<section id="alarmInformPage">
    <div class="card-bg main">
        <div class="page-header">
            <h3>通知规则设置</h3>
        </div>
        <div class="page-body">
            <form class="left form-horizontal" name="addInform.form"  ng-class="{'inset-shadow': addInform.status === 'modify'}" novalidate ng-submit="addInform.commit();">
                <div class="control-group">
                    <label class="control-label">规则名称</label>
                    <div class="controls">
                        <input type="text" ng-disabled="addInform.status === 'modify'" maxlength="15" name="name" ng-model="addInform.obj.name" required>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">规则内容</label>
                    <div class="controls">
                        <div class="inform-content cursor-point" ng-click="addInform.toModal(addInform.obj);" ng-bind="addInform.obj.content.join(',')" ></div>
                        <span class="help-inline required"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">备注</label>
                    <div class="controls">
                        <textarea name="describe" cols="30" rows="6" ng-model="addInform.obj.describe" style="resize: none;"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type='submit' 
                            class="btn btn-primary" 
                            ng-disabled="!addInform.obj.name || !addInform.obj.content.length" 
                            ng-if="util.checkPrivilege(7702) && addInform.status != 'modify' || util.checkPrivilege(7704) && addInform.status == 'modify'"
                            ng-bind="addInform.status === 'modify' ? '修改' : '确定'"></button>
                        <button type="button" ng-click="addInform.reset()" class="btn btn-default">取消</button>
                    </div>
                </div>

            </form>
            <div class="right">
                <div class="table-box scroll">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>规则名称</th><th>规则内容</th><th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in alarmInfoList" ng-class="CONST.animation.list">
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.content"></td>
                                <td>
                                    <a title="编辑" ng-if="util.checkPrivilege(7704)" class="ic ic-edit" ng-click="addInform.load(item)"></a>
                                    <a title="删除" ng-if="util.checkPrivilege(7705)" ng-hide="item.type==='defaultRule'" class="ic ic-delete" ng-click="deleteInform.toModal(item)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="loader" ng-show="isLoading">
                    <i class="ic ic-spinner ic-spin ic-5x"></i>
                </div>
                <div class="no-data" ng-hide="isLoading || paginationConf.totalItems">
                    <div class="img img-2x"></div>
                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </div>
    <div>
        <form class="modal hide form-horizontal" data-backdrop="static" id="addInformModal"
              name="addInform.form" novalidate ng-submit="addInform.execute();">
            <div class="modal-header">
                <button type="button" class="close" ng-click="addInform.clear();addInform.obj = addInform.reserved;"><i class="ic ic-close"></i></button>
                <h3>规则内容</h3>
            </div>
            <div class="modal-body scroll">
                <scloud-checkbox class='title' content = '短信' selected="addInform.obj.msgEnable"></scloud-checkbox>
                <div class="control-group time-box">
                    <label class="control-label">时间</label>
                    <div class="controls">
                        <div class="startTime input-append date" setting='{"format": "hh:mm:ss"}'>
                            <input size="16" type="text" ng-model="addInform.obj.msgBeginTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        <label>-</label>
                        <div class="startTime input-append date" setting='{"format": "hh:mm:ss"}'>
                            <input size="16" type="text" ng-model="addInform.obj.msgEndTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        <div class="timeError font-danger" ng-show = "addInform.timeError0">结束时间不能早于开始时间</div>
                    </div>
                </div>
                <div class="week-box">                    
                    <scloud-checkbox ng-repeat = 'item in ["周日","周一","周二","周三","周四","周五","周六"]' content = '{{item}}' selected="addInform.obj.msgDayList[$index + 1]"></scloud-checkbox>
                </div>
                <div class="control-group">
                    <scloud-checkbox class="control-label" content = '告警等级' selected="addInform.obj.msgIfLevel"></scloud-checkbox>
                    <div class="controls">
                        <select><option selected>一级告警</option></select>
                    </div>
                </div>
                <div class="control-group">
                    <scloud-checkbox class="control-label" content = '告警分类' selected="addInform.obj.msgIfAlarm"></scloud-checkbox>
                    <div class="controls">
                        <scloud-select list="msgSignalList"></scloud-select>
                    </div>
                </div>


                <scloud-checkbox class='title' content = '告警邮件' selected="addInform.obj.emailEnable"></scloud-checkbox>
                <div class="control-group time-box">
                    <label class="control-label">时间</label>
                    <div class="controls">
                        <div class="startTime input-append date" setting='{"format": "hh:mm:ss"}'>
                            <input size="16" type="text" ng-model="addInform.obj.emailBeginTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        <label>-</label>
                        <div class="startTime input-append date" setting='{"format": "hh:mm:ss"}'>
                            <input size="16" type="text" ng-model="addInform.obj.emailEndTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        <div class="timeError font-danger" ng-show = "addInform.timeError1">结束时间不能早于开始时间</div>
                    </div>
                </div>
                <div class="week-box">
                    <scloud-checkbox ng-repeat = 'item in ["周日","周一","周二","周三","周四","周五","周六"]' content = '{{item}}' selected="addInform.obj.emailDayList[$index + 1]"></scloud-checkbox>
                </div>
                <div class="control-group">
                    <scloud-checkbox class="control-label" content = '告警等级' selected="addInform.obj.emailIfLevel"></scloud-checkbox>
                    <div class="controls">
                        <scloud-select list="emailAlarmLevelList"></scloud-select>
                    </div>
                </div>
                <div class="control-group">
                    <scloud-checkbox class="control-label" content = '告警分类' selected="addInform.obj.emailIfAlarm"></scloud-checkbox>
                    <div class="controls">
                        <scloud-select list="emailSignalList"></scloud-select>
                    </div>
                </div>

                <scloud-checkbox class='title' content = '告警策略邮件' selected="addInform.obj.strategyEnabled"></scloud-checkbox>
                <div class="week-box">                    
                    <scloud-checkbox ng-init = 'list = [{name: "告警屏蔽", value: "alarmShield"},{name: "告警过滤", value: "alarmFilter"},{name: "告警重定义", value: "alarmRedefine"}]' ng-repeat = 'item in [0,1,2]' content = '{{list[item].name}}' selected="addInform.obj[list[item].value]"></scloud-checkbox>
                </div>
                <div class="control-group">
                    <label class="control-label">发送周期</label>
                    <div class="controls">
                        <select ng-model="addInform.obj.sendPeriod" ng-options="item for item in ['每周', '每月', '每季度', '每年']"></select>
                    </div>
                </div>

                <scloud-checkbox class='title' content = 'APP推送' selected="addInform.obj.appEnable"></scloud-checkbox>
                <div class="control-group time-box">
                    <label class="control-label">时间</label>
                    <div class="controls">
                        <div class="startTime input-append date" setting='{"format": "hh:mm:ss"}'>
                            <input size="16" type="text" ng-model="addInform.obj.appBeginTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        <label>-</label>
                        <div class="startTime input-append date" setting='{"format": "hh:mm:ss"}'>
                            <input size="16" type="text" ng-model="addInform.obj.appEndTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        <div class="timeError font-danger" ng-show = "addInform.timeError2">结束时间不能早于开始时间</div>
                    </div>
                </div>
                <div class="week-box">                    
                    <scloud-checkbox ng-repeat = 'item in ["周日","周一","周二","周三","周四","周五","周六"]' content = '{{item}}' selected="addInform.obj.appDayList[$index + 1]"></scloud-checkbox>
                </div>
                <div class="control-group">
                    <scloud-checkbox class="control-label" content = '告警等级' selected="addInform.obj.appIfLevel"></scloud-checkbox>
                    <div class="controls">
                        <scloud-select position="top" list="appAlarmLevelList"></scloud-select>
                    </div>
                </div>
                <div class="control-group">
                    <scloud-checkbox class="control-label" content = '告警分类' selected="addInform.obj.appIfAlarm"></scloud-checkbox>
                    <div class="controls">
                        <scloud-select position="top" list="appSignalList"></scloud-select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"
                        ng-disabled="addInform.checkInvalid()">
                    <i ng-class="{'ic ic-spinner ic-spin':addInform.loading}"></i>确认
                </button>
                <button type="button" class="btn btn-default" ng-click="addInform.clear(); addInform.obj = addInform.reserved;">取消</button>
            </div>
        </form>

        <form class="modal hide form-horizontal" data-backdrop="static" id="deleteInformModal"
              name="deleteInform.form" novalidate ng-submit="deleteInform.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="deleteInform.clear();"><i class="ic ic-close"></i></button>
                <h3>删除</h3>
            </div>
            <div class="modal-body scroll">
                <div class="notification">
                    <h4 class="title"><i class="ic ic-warning font-warning"></i>确定要删除该通知规则？</h4>
                    <p class="content" ng-show="!deleteInform.inUse.success">
                        注意：将要删除的通知规则是 
                        <strong class="font-danger" ng-bind="deleteInform.obj.name"></strong>!
                    </p>
                    <p class="content" ng-show="deleteInform.inUse.success">
                        注意：通知规则 <strong class="font-danger" ng-bind="deleteInform.obj.name"></strong> 已有人在使用，请谨慎删除！
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="deleteInform.form.$invalid">确认</button>
                <button type="button" class="btn btn-default" ng-click="deleteInform.clear();">取消</button>
            </div>
        </form>
    </div>
</section>