<section id="alarmLinkPage">

    <ul class="nav nav-tabs">
        <li ng-repeat="item in tabPage.pageList" ng-class="{active:tabPage.isActive($index)}">
            <a ng-click="tabPage.showPage($index)" ng-bind="item"></a>
        </li>
    </ul>

    <div class="bottom card-bg">
        <div class="tab1" ng-show="tabPage.currentIndex === 0">
            <div class="query-form">
                <div class="form-inline">
                    <div class="query-form-ib form-inline">
                        <label>联动类型</label>
                        <select ng-model="platformQuery.type"
                                ng-options="item.value as item.name for item in linkType">
                            <option ng-bind="'全部'"></option>
                        </select>
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>设备类型</label>
                        <select ng-model="platformQuery.deviceType"
                                ng-change="platformQuery.deviceType ? (getDeviceListByTypeCode(platformQuery.deviceType)) : (platformQuery.deviceChildType = null)"
                                ng-options="item as item.typeName for item in deviceTypeList">
                            <option ng-bind="'全部'"></option>
                        </select>
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>设备子类</label>
                        <select ng-model="platformQuery.deviceChildType"
                                ng-disabled = "!platformQuery.deviceType"
                                ng-options="item as item.typeName for item in (platformQuery.deviceType ? [platformQuery.deviceType] : [])">
                            <option ng-bind="'全部'"></option>
                        </select>
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>设备名称</label>
                        <select ng-model="platformQuery.deviceName"
                                ng-disabled="!platformQuery.deviceChildType"
                                ng-options="item.device.name as item.device.name for item in platformQuery.deviceType.deviceList">
                            <option ng-bind="'全部'"></option>
                        </select>
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>启用状态</label>
                        <select ng-model="platformQuery.enabled"
                                ng-options="item.value as item.name for item in enabledList">
                            <option ng-bind="'全部'"></option>
                        </select>
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>规则名称</label>
                        <input type="text" ng-model="platformQuery.name">
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>创建人</label>
                        <input type="text" ng-model="platformQuery.creatorName">
                    </div>


                    <div class="query-form-ib form-inline">
                        <label>编辑时间</label>
                        <div class="startTime input-append date" setting='{"format": "YYYY/MM/DD hh:00:00"}'>
                            <input size="16" type="text" ng-model="platformQuery.updateBeginTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        <label>-</label>
                        <div class="startTime input-append date" setting='{"format": "YYYY/MM/DD hh:00:00"}'>
                            <input size="16" type="text" ng-model="platformQuery.updateEndTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                    </div>

                    <button class="btn btn-primary" ng-click="query();">查询</button>
                    <button class="btn btn-default" type="reset" ng-click="reset();">清除</button>

                </div>
            </div>

            <div class="page-header">
                <h3>平台联动规则</h3>
                <button class="btn btn-primary" ng-click="addPlatformLink.toModal()" ng-if="util.checkPrivilege(8602)"><i class="ic ic-plus"></i> 添加</button>
            </div>
            <div class="list">
                <div class="table-box scroll">
                    <table scloud-table-head-fix class="table table-bordered table-hover">
                        <thead>
                            <tr scloud-table-sort callback="query">
                                <th>规则名称</th><th>规则备注</th><th>联动类型</th><th>创建人</th><th field = 'time' default-field = "false">编辑时间</th><th>适用范围</th><th>启用时间段</th><th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in platformLinkList" ng-class="CONST.animation.list">
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.describe"></td>
                                <td ng-bind="item.type === '1' ? '告警' : '信号'"></td>
                                <td ng-bind="item.creator.name"></td>
                                <td ng-bind="item.updateTime | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                                <td><label class="btn-border cursor-point" ng-if="util.checkPrivilege(8626)" ng-click="configSite.toModal(item)">选择站点</label></td>
                                <td><label class="btn-border cursor-point" ng-if="util.checkPrivilege(8627)" ng-click="setTimeRange.toModal(item)">启用时间段</label></td>
                                <td>
                                    <a class="ic ic-edit" ng-show="item.enabled !== '1'" ng-if="util.checkPrivilege(8604)" title="编辑" ng-click="addPlatformLink.toModal(item)"></a>
                                    <a class="ic ic-delete" ng-show="item.enabled !== '1'" ng-if="util.checkPrivilege(8605)" title="删除" ng-click="deletePlatformLink.toModal(item)"></a>
                                    <a class="ic" ng-class="item.enabled=='1' ? 'ic-stop' : 'ic-start'" ng-if="util.checkPrivilege(8612)" title="{{item.enabled=='1' ? '禁用' : '启用'}}" ng-click="toggleLinkEnabled(item)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="loader" ng-show="isPlatformLoading">
                    <i class="ic ic-spinner ic-spin ic-5x"></i>
                </div>
                <div class="no-data" ng-hide="isPlatformLoading || platformPaginationConf.totalItems">
                    <div class="img img-2x"></div>
                </div>
                <tm-pagination conf="platformPaginationConf"></tm-pagination>
            </div>
        </div>
        <div class="tab2"  ng-show="tabPage.currentIndex === 1">    
            <div class="query-form">
                <div class="form-inline">
                    <div class="query-form-ib form-inline">
                        <label>站点FSU</label>
                        <input type="text" ng-click="fsuSelect.toModal()" ng-model="fsuQuery.fsu.name" class="cursor-point" readonly placeholder="请选择站点FSU">

                        <label>联动类型</label>
                        <select ng-model="fsuQuery.type"
                                ng-options="item.value as item.name for item in linkType">
                            <option ng-bind="'全部'"></option>
                        </select>
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>设备类型</label>
                        <select ng-model="fsuQuery.deviceType"
                                ng-change="fsuQuery.deviceType ? (getDeviceListByTypeCode(fsuQuery.deviceType)) : (fsuQuery.deviceChildType = null)"
                                ng-options="item as item.typeName for item in deviceTypeList">
                            <option ng-bind="'全部'"></option>
                        </select>
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>设备子类</label>
                        <select ng-model="fsuQuery.deviceChildType"
                                ng-disabled = "!fsuQuery.deviceType"
                                ng-options="item as item.typeName for item in (fsuQuery.deviceType ? [fsuQuery.deviceType] : [])">
                            <option ng-bind="'全部'"></option>
                        </select>
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>设备名称</label>
                        <select ng-model="fsuQuery.deviceName"
                                ng-disabled="!fsuQuery.deviceChildType"
                                ng-options="item.device.name as item.device.name for item in fsuQuery.deviceType.deviceList">
                            <option ng-bind="'全部'"></option>
                        </select>
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>启用状态</label>
                        <select ng-model="fsuQuery.enabled"
                                ng-options="item.value as item.name for item in enabledList">
                            <option ng-bind="'全部'"></option>
                        </select>
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>规则名称</label>
                        <input type="text" ng-model="fsuQuery.name">
                    </div>

                    <div class="query-form-ib form-inline">
                        <label>创建人</label>
                        <input type="text" ng-model="fsuQuery.creatorName">
                    </div>


                    <div class="query-form-ib form-inline">
                        <label>编辑时间</label>
                        <div class="startTime input-append date" setting='{"format": "YYYY/MM/DD hh:00:00"}'>
                            <input size="16" type="text" ng-model="fsuQuery.updateBeginTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                        <label>-</label>
                        <div class="startTime input-append date" setting='{"format": "YYYY/MM/DD hh:00:00"}'>
                            <input size="16" type="text" ng-model="fsuQuery.updateEndTime">
                            <span class="add-on"><i class="icon-th icon-white"></i></span>
                        </div>
                    </div>

                    <button class="btn btn-primary" ng-click="fsuQueryFn();">查询</button>
                    <button class="btn btn-default" type="reset" ng-click="fsuReset();">清除</button>

                </div>
            </div>

            <div class="page-header">
                <h3>FSU联动规则</h3>
            </div>
            <div class="list">
                <div class="table-box scroll">
                    <table scloud-table-head-fix class="table table-bordered table-hover">
                        <thead>
                            <tr scloud-table-sort callback="fsuQueryFn">
                                <th>规则名称</th><th>规则备注</th><th>联动类型</th><th field = 'time' default-field = "false">编辑时间</th><th>启用时间段</th><th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in fsuLinkList" ng-class="CONST.animation.list">
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.describe"></td>
                                <td ng-bind="['', '告警', '信号'][item.type]"></td>
                                <td ng-bind="item.updateTime | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                                <td><a ng-click="setTimeRange.toModal(item, 'detail')">启用时间段</a></td>
                                <td>
                                    <a class="ic ic-detail" title="详情" ng-click="addPlatformLink.toModal(item, 'detail')"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="loader" ng-show="isFsuLoading">
                    <i class="ic ic-spinner ic-spin ic-5x"></i>
                </div>
                <div class="no-data" ng-hide="isFsuLoading || fsuPaginationConf.totalItems">
                    <div class="img img-2x"></div>
                </div>
                <tm-pagination conf="fsuPaginationConf"></tm-pagination>
            </div>
        </div>
    </div>
    <div>        
        <form class="modal hide form-horizontal" data-backdrop="static" id="addPlatformLinkModal"
              name="addPlatformLink.form" novalidate ng-submit="addPlatformLink.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="addPlatformLink.clear();"><i class="ic ic-close"></i></button>
                <select ng-model = "addPlatformLink.title" ng-options = "item.name as ('添加' + item.name + '联动') for item in linkType" ng-change="addPlatformLink.reset();addPlatformLink.getLinkName(addPlatformLink.title == '告警' ? '1' : '2');"></select>
            </div>
            <div class="modal-body scroll">
                <section class="info">
                    <div class="control-group">
                        <label class="control-label">规则名称</label>
                        <div class="controls">
                            <input type="text" disabled ng-model="addPlatformLink.obj.name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">备注</label>
                        <div class="controls">
                            <input type="text" maxlength="10" ng-disabled="addPlatformLink.status==='detail'" ng-model="addPlatformLink.obj.describe">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">创建人</label>
                        <div class="controls">
                            <span class="input-like" ng-bind="addPlatformLink.obj.creator.name || user.name | nullFilter"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">编辑时间</label>
                        <div class="controls">
                            <span class="input-like" ng-bind="addPlatformLink.obj.updateTime | date: 'yyyy-MM-dd' | nullFilter"></span>
                        </div>
                    </div>
                </section>
                <section class="signal">
                    <div class="title" ng-bind="addPlatformLink.title === '告警' ? '告警信号' : '遥测信号'"></div>

                    <div class="control-group">
                        <label class="control-label" ng-bind="'已选' + addPlatformLink.title"></label>
                        <div class="controls" style="width: 760px;">
                            <span ng-bind="addPlatformLink.getSelectSignal()"></span>
                        </div>
                    </div>

                    <div ng-repeat = 'item in addPlatformLink.obj.signalList'>
                        <div class="control-group">
                            <label class="control-label">设备类型</label>
                            <div class="controls">
                                <select ng-model="addPlatformLink.obj.deviceTypeList[$index]"
                                        ng-disabled="addPlatformLink.status==='detail'"
                                        ng-change="getDeviceListByTypeCode(addPlatformLink.obj.deviceTypeList[$index])"
                                        ng-options="item as item.typeName for item in (addPlatformLink.title=='告警' ? deviceListTop1 : deviceListTop2)">
                                </select>
                                <label class="help-inline required"></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">设备子类</label>
                            <div class="controls">
                                <select ng-disabled="!addPlatformLink.obj.deviceTypeList[$index] || addPlatformLink.status==='detail'" 
                                        ng-model="addPlatformLink.obj.deviceChildTypeList[$index]"
                                        ng-options="item as item.typeName for item in [addPlatformLink.obj.deviceTypeList[$index]]">
                                </select>
                                <label class="help-inline required"></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">设备名称</label>
                            <div class="controls">
                                <select ng-disabled="!addPlatformLink.obj.deviceChildTypeList[$index] || addPlatformLink.status==='detail'"
                                        ng-model="addPlatformLink.obj.deviceNameList[$index]"
                                        ng-options="item.device.name as item.device.name for item in addPlatformLink.obj.deviceTypeList[$index].deviceList">
                                </select>
                                <label class="help-inline required"></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" ng-bind="addPlatformLink.title + '标准名'"></label>
                            <div class="controls">
                                <select ng-disabled="!addPlatformLink.obj.deviceTypeList[$index] || addPlatformLink.status==='detail'" 
                                        ng-model="addPlatformLink.obj.signalNameList[$index]"
                                        ng-options="item as item.typeName for item in addPlatformLink.obj.deviceTypeList[$index].signalTypeList">
                                </select>
                                <label class="help-inline required"></label>
                            </div>
                        </div>
                        <div class="control-group compare-group" ng-show="addPlatformLink.title === '信号'" ng-class="addPlatformLink.getNumberValidClass('link', addPlatformLink.obj.valueList[$index])">
                            <div class="controls compare">
                                <select ng-options = 'item.value as item.name for item in compareLogicList'  
                                    ng-disabled="addPlatformLink.status==='detail'" 
                                    ng-model = "addPlatformLink.obj.compareLogicList[$index]"></select>
                                <input type="text"  ng-disabled="addPlatformLink.status==='detail'" 
                                    ng-model="addPlatformLink.obj.valueList[$index]" placeholder="数值">
                                <label class="help-inline required"></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <span ng-hide="$index === addPlatformLink.obj.deviceTypeList.length - 1">
                                <label class="control-label">启用方式</label>
                                <div class="controls">
                                    <select  ng-disabled="addPlatformLink.status==='detail'" 
                                        ng-model="addPlatformLink.obj.useTypeList[$index]" 
                                        ng-options = "item.value as item.name for item in useTypeList">
                                    </select>
                                    <label class="help-inline required"></label>
                                </div>
                            </span>
                        </div>
                        <div ng-hide="addPlatformLink.status==='detail'" class="control-group append" ng-class="addPlatformLink.title === '信号' && 'compare'">
                            <a ng-show="addPlatformLink.obj.deviceTypeList.length > 1" ng-click="addPlatformLink.removeSignal($index)" class="ic ic-minus-square"></a>
                            <a ng-show="$index === addPlatformLink.obj.deviceTypeList.length - 1" ng-click="addPlatformLink.addSignal()" class="ic ic-plus-square"></a>
                        </div>
                    </div>
                </section>
                <section class="feedback">
                    <div class="title" ng-bind="addPlatformLink.title + '联动'"></div>

                    <div class="control-group">
                        <label class="control-label">DO控制</label>
                        <div class="controls">
                            <input type="text" class="form-control" multiple
                                ng-disabled="addPlatformLink.status==='detail'"
                                select2 config="doList"
                                select2-model="addPlatformLink.obj.doList" />
                        </div>
                    </div>
                    <div class="control-group" ng-class="getValidClass(addPlatformLink.form.doValue)">
                        <label class="control-label">控制时长</label>
                        <div class="controls">
                            <input class="duration" 
                                ng-disabled="addPlatformLink.status==='detail'" 
                                name="doValue" ng-pattern="REGEX.one2tenThousand" 
                                type="text" ng-model="addPlatformLink.obj.doValue"> 秒
                        </div>
                    </div>

                    <div ng-repeat = 'item in addPlatformLink.obj.linkEntityList'>
                        <div class="control-group">
                            <label class="control-label">设备类型</label>
                            <div class="controls">
                                <select ng-model="item.deviceType" 
                                        ng-disabled="addPlatformLink.status==='detail'"
                                        ng-change="getDeviceListByTypeCode(item.deviceType)"
                                        ng-options="item as item.typeName for item in deviceListBottom">
                                </select>
                                <label class="help-inline required"></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">设备子类</label>
                            <div class="controls">
                                <select ng-disabled="!item.deviceType || addPlatformLink.status==='detail'"
                                        ng-model="item.deviceChildType"
                                        ng-options="item as item.typeName for item in [item.deviceType]">
                                </select>
                                <label class="help-inline required"></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">设备名称</label>
                            <div class="controls">
                                <select ng-disabled="!item.deviceChildType || addPlatformLink.status==='detail'"
                                        ng-model="item.deviceName"
                                        ng-options="item.device.name as item.device.name for item in item.deviceType.deviceList">
                                </select>
                                <label class="help-inline required"></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">信号标准名</label>
                            <div class="controls">
                                <select ng-disabled="!item.deviceType || addPlatformLink.status==='detail'"
                                        ng-model="item.signalName"
                                        ng-options="item as item.typeName for item in (item.deviceType.code != '100' ? item.deviceType.signalTypeList : cameraSignal)"
                                        ng-change="item.value = ''">
                                </select>
                                <label class="help-inline required"></label>
                            </div>
                        </div>
                        <div class="control-group" ng-class="addPlatformLink.getNumberValidClass(item.deviceType.code == '100' ? item.signalName.typeName : 'normal' ,item.value)">
                            <div ng-show="item.deviceType.code != '100'">
                                <label class="control-label">联动时长</label>
                                <div class="controls">
                                    <input class="duration" type="text"  ng-disabled="addPlatformLink.status==='detail'"ng-model="item.value"> 秒
                                </div>
                                <label class="help-inline required"></label>
                            </div>
                            <div ng-show="item.deviceType.code == '100' && item.signalName.typeName == '视频录制'">
                                <label class="control-label">录制时长</label>
                                <div class="controls">
                                    <input class="duration" type="text"  ng-disabled="addPlatformLink.status==='detail'"ng-model="item.value"> 秒
                                </div>
                                <label class="help-inline required"></label>
                            </div>
                            <div ng-show="item.deviceType.code == '100' && item.signalName.typeName == '图像抓拍'">
                                <label class="control-label">抓拍数量</label>
                                <div class="controls">
                                    <select class="duration" ng-options="item for item in [1,2,3]" ng-disabled="addPlatformLink.status==='detail'"ng-model="item.value"></select>
                                </div>
                                <label class="help-inline required"></label>
                            </div>
                            <div ng-show="item.deviceType.code == '100' && item.signalName.typeName == '云台联动'">
                                <label class="control-label">预置位</label>
                                <div class="controls">
                                    <input class="duration" type="text"  ng-disabled="addPlatformLink.status==='detail'"ng-model="item.value">
                                </div>
                                <label class="help-inline required"></label>
                            </div>
                            <div ng-show="item.deviceType.code == '100' && item.signalName.typeName == '云台巡航'">
                                <label class="control-label">巡航编号</label>
                                <div class="controls">
                                    <input class="duration" type="text"  ng-disabled="addPlatformLink.status==='detail'"ng-model="item.value">
                                </div>
                                <label class="help-inline required"></label>
                            </div>
                        </div>
                        <div ng-hide="addPlatformLink.status==='detail'" class="control-group append">
                            <a ng-show="addPlatformLink.obj.linkEntityList.length > 1" ng-click="addPlatformLink.removeFeedback($index)" class="ic ic-minus-square"></a>
                            <a ng-show="$index === addPlatformLink.obj.linkEntityList.length - 1" ng-click="addPlatformLink.addFeedback()" class="ic ic-plus-square"></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button ng-hide="addPlatformLink.status==='detail'" type="submit" class="btn btn-primary" ng-disabled="addPlatformLink.checkFormInvalid() || addPlatformLink.form.doValue.$invalid">确认</button>
                <button type="reset" class="btn btn-default" ng-click="addPlatformLink.clear();">取消</button>
            </div>
        </form>

        <form class="modal hide form-horizontal" data-backdrop="static" id="setTimeRangeModal"
              name="setTimeRange.form" novalidate ng-submit="setTimeRange.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="setTimeRange.clear();"><i class="ic ic-close"></i></button>
                <h3>启用时间段</h3>
            </div>
            <div class="modal-body scroll">
                <div class="a-row" ng-repeat = 'item in [0,1,2,3]'>
                    <scloud-checkbox selected="setTimeRange.obj.isSelected[$index]" callback="setTimeRange.fn.rowClick" self="$index" content="{{'时间段' + ($index + 1) + ': '}}"></scloud-checkbox>
                    <div class="startTime input-append date control-group" setting='{"format": "hh:mm:ss"}' ng-class="getValidClass(setTimeRange.form['beginTime' + $index]);">
                        <input size="16" type="text" value="" ng-model="setTimeRange.obj.timeRange[$index].beginTime" ng-change="setTimeRange.fn.timeChange($index, 'beginTime')" ng-pattern = "REGEX.hhmmss">
                        <span class="add-on"><i class="icon-th icon-white"></i></span>
                    </div>
                    -
                    <div class="startTime input-append date control-group" setting='{"format": "hh:mm:ss"}' ng-class="getValidClass(setTimeRange.form['endTime' + $index]);">
                        <input size="16" type="text" value="" ng-model="setTimeRange.obj.timeRange[$index].endTime" ng-change="setTimeRange.fn.timeChange($index, 'endTime')" ng-pattern = "REGEX.hhmmss">
                        <span class="add-on"><i class="icon-th icon-white"></i></span>
                    </div>
                </div>
                <div class="a-row">
                    <scloud-checkbox selected="setTimeRange.obj.isSelectAllWeek" callback="setTimeRange.fn.selectAllWeek" content="整个星期"></scloud-checkbox>
                </div>
                <hr>
                <div class="a-row">
                    <span class="day" ng-repeat = 'item in ["周日","周一","周二","周三","周四","周五","周六"]'>
                        <scloud-checkbox  selected="setTimeRange.obj._dayList[$index + 1]" callback="setTimeRange.fn.selectDay" self="$index + 1" content="{{item}}"></scloud-checkbox>
                    </span>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button ng-hide="setTimeRange.status === 'detail' || setTimeRange.obj.enabled === '1'" ng-disabled="setTimeRange.fn.checkInvalid();" type="submit" class="btn btn-primary">确认</button>
                <button type="reset" class="btn btn-default" ng-click="setTimeRange.clear();">取消</button>
            </div>
        </form>


        <form class="modal hide form-horizontal" data-backdrop="static" id="deletePlatformLinkModal"
              name="deletePlatformLink.form" novalidate ng-submit="deletePlatformLink.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="deletePlatformLink.clear();"><i class="ic ic-close"></i></button>
                <h3>删除站点</h3>
            </div>
            <div class="modal-body scroll">
                <div class="notification">
                    <h4 class="title"><i class="ic ic-warning font-warning"></i>确定要删除该联动规则？</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="deletePlatformLink.form.$invalid">确认</button>
                <button type="button" class="btn btn-default" ng-click="deletePlatformLink.clear();">取消</button>
            </div>
        </form>



        <form class="modal hide form-horizontal" data-backdrop="static" id="configSiteModal"
              name="configSite.form" novalidate ng-submit="configSite.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="configSite.clear();"><i class="ic ic-close"></i></button>
                <h3>选择站点</h3>
            </div>
            <div class="modal-body scroll">
                <div class="left">
                    <div class="nav-tree">
                        <div class="scroll-wrap">
                            <ul id="siteTree" class="ztree scroll" ng-hide="zTree.isEmpty"></ul>
                            <div ng-show="zTree.isEmpty" class="no-data">
                                <div class="img img-2x"></div>
                            </div>
                        </div>
                        <div class="loader" ng-show="treeLoading">
                            <i class="ic ic-spinner ic-spin ic-5x"></i>
                        </div>
                    </div>
                </div>
                <div class="right scroll">
                    <div ng-click="configSite.remove(item)" class="cursor-point" ng-repeat="item in configSite.list">
                        <span ng-bind='item.name'></span>
                        <i class="ic" ng-class="item.matchAlarmLink === '1' ? 'ic-loading-success' : 'ic-close'"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="configSite.checkInvalid()" ng-hide="configSite.obj.enabled === '1'">确认</button>
                <button type="button" class="btn btn-default" ng-click="configSite.clear();">取消</button>
            </div>
        </form>

        <form class="modal hide form-horizontal" data-backdrop="static" id="fsuSelectModal"
              name="fsuSelect.form" novalidate ng-submit="fsuSelect.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="fsuSelect.clear();"><i class="ic ic-close"></i></button>
                <h3>选择站点</h3>
            </div>
            <div class="modal-body scroll">
                <div class="wrap">
                    <div class="nav-tree">
                        <div class="scroll-wrap">
                            <ul id="fsuSelectTree" class="ztree scroll" ng-hide="fsuSelectTree.isEmpty"></ul>
                            <div ng-show="fsuSelectTree.isEmpty" class="no-data">
                                <div class="img img-2x"></div>
                            </div>
                        </div>
                        <div class="loader" ng-show="treeLoading">
                            <i class="ic ic-spinner ic-spin ic-5x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="fsuSelect.form.$invalid">确认</button>
                <button type="button" class="btn btn-default" ng-click="fsuSelect.clear();">取消</button>
            </div>
        </form>
            
    </div>
</section>