<section id="alarmPriorityPage">
    <div class="bottom-left card-bg" ng-class = 'priority.editItem.updating && "inset-shadow"'>
        <div class="page-header">
            <h3>添加主次告警规则</h3>
        </div>

        <div class="page-body scroll">
            <form class="form-horizontal" name="priority.editItem.form" novalidate>
                <div class="control-group" ng-class="getValidClass(priority.editItem.form.ruleName);">
                    <label class="control-label">规则名称</label>
                    <div class="controls">
                        <input type="text" name="ruleName" ng-model="priority.editItem.model.ruleName" required>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(priority.editItem.form.pAlarm);">
                    <label class="control-label">主告警类型</label>
                    <div class="controls">
                        <select name="pAlarm" ng-model="priority.editItem.model.pAlarm" required
                                ng-options="item.id as item.text for item in signalList.data"></select>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group" ng-class = "checkAlarmOverlap() && 'error'">
                    <label class="control-label">次告警类型</label>
                    <div class="controls">
                        <input type="text" class="form-control" multiple required
                               select2 config="signalList"
                               select2-model="priority.editItem.model.sAlarm"/>
                        <span class="help-inline"></span>
                        <p ng-show = "checkAlarmOverlap()" class="font-danger">次告警类型中不能包含主告警类型</p>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(priority.editItem.form.site);">
                    <label class="control-label">应用站点</label>
                    <div class="controls">

                        <select multiple="multiple" class="multiselect scroll"
                                ng-model="priority.editItem.model.remove"
                                ng-click = 'priority.removeSite(priority.editItem.model.remove)'
                                ng-options="item as item.name for item in priority.editItem.model.site"></select>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="tree-box scroll">
                            <ul id="siteTree" class="ztree" ng-hide="zTree.isEmpty"></ul>
                            <p ng-show="zTree.isEmpty">没有符合要求的结果</p>
                            <div class="loader" ng-show="treeLoading">
                                <i class="ic ic-spinner ic-spin ic-5x"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group" ng-class="getValidClass(priority.editItem.form.reason);">
                    <label class="control-label">原因：</label>
                    <div class="controls">
                        <textarea name="reason" ng-model="priority.editItem.model.reason"></textarea>
                    </div>
                </div>

                <div class="control-group btn-groups">
                    <div class="controls">
                        <button class="btn btn-primary"
                                ng-if="!priority.editItem.updating"
                                ng-disabled="priority.editItem.form.$invalid || priority.editItem.model.sAlarm.length < 1 || priority.editItem.model.site.length < 1 || checkAlarmOverlap()"
                                ng-click="priority.editItem.add()">新建</button>
                        <button class="btn btn-primary"
                                ng-if="priority.editItem.updating"
                                ng-disabled="priority.editItem.form.$invalid || priority.editItem.model.sAlarm.length < 1 || priority.editItem.model.site.length < 1 || checkAlarmOverlap()"
                                ng-click="priority.editItem.update()">修改</button>
                        <button class="btn btn-default" ng-click="priority.editItem.cancel()">取消</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="bottom-right card-bg">
        <div>
            <div class="page-header">
                <h3>规则列表</h3>
                <button class="btn btn-primary" ng-click = 'priority.expo()'>导出</button>
            </div>
            <div class="table-box scroll">
                <table scloud-table-head-fix class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>规则名称</th><th>告警名称</th><th>创建人</th><th>创建时间</th><th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in priority.list" ng-class="CONST.animation.list" class = "cursor-point" ng-click="priority.editItem.toUpdate(item)">
                            <td ng-bind="item.majorName"></td>
                            <td ng-bind="getSignalName(item.majorAlarm).text"></td>
                            <td ng-bind="item.creator.name | nullFilter"></td>
                            <td ng-bind="item.createTme | date: 'yyyy-MM-dd HH:mm:ss' | nullFilter"></td>
                            <td>
                                <a class="ic ic-check" title="启用规则" ng-click="priority.editItem.toggleEnable(item); $event.stopPropagation();" ng-show = '!item.enable'></a>
                                <a class="ic ic-times" title="禁用规则" ng-click="priority.editItem.toggleEnable(item); $event.stopPropagation();" ng-show = 'item.enable'></a>
                                <!-- <a class="ic ic-detail" title="查看详情" ng-click=""></a> -->
                                <a class="ic ic-edit" title="修改" ng-click="priority.editItem.toUpdate(item); $event.stopPropagation();" ng-show = '!item.enable'></a>
                                <a class="ic ic-delete" title="删除" ng-click="priority.deleteItemModal.toModal(item); $event.stopPropagation();" ng-show = '!item.enable'></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="loader" ng-show="priority.loading">
                <i class="ic ic-spinner ic-spin ic-5x"></i>
            </div>
            <div class="no-data"
                 ng-hide="priority && priority.pageConf.totalItems">
                <div class="img img-2x"></div>
            </div>
            <tm-pagination conf="priority.pageConf"></tm-pagination>
        </div>
    </div>
        
    <div>
        <form class="modal hide form-horizontal" data-backdrop="static" id="deleteRuleModal">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="priority.deleteItemModal.clear();"><i class="ic ic-close"></i></button>
                <h3>删除主次告警规则</h3>
            </div>
            <div class="modal-body scroll">
                <div class="notification">
                    <p class="content">
                        确定要删除 <strong class="font-danger" ng-bind="priority.deleteItemModal.item.majorName"></strong> 这条规则吗？
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-click="priority.deleteItemModal.execute();">确认</button>
                <button type="reset" class="btn btn-default" ng-click="priority.deleteItemModal.clear();">取消</button>
            </div>
        </form>
    </div>
</section>