spring:
  profiles:
    active: dev
server:
  groupCode: ROOT
  name: TASK_JAR_NAME
  version: 1.0.0
  port: ${random.int(70000,75000)}
  address: 0.0.0.0
register:
  scanBasePackage: tech.mystox
  url: zookeeper://192.168.0.234:2181,192.168.0.234:2182,192.168.0.234:2183 #开发态的服务和云管服务配置，开发态服务可以不依赖云管进行部分功能服务的开发
  sessionTimeout: 100000
mqtt:
  url: tcp://192.168.0.234:1883 # 推送信息的连接地址，如果有多个，用逗号隔开，如：tcp://127.0.0.1:61613,tcp://192.168.1.61:61613
  maxInflight: 1000

