@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z3364e');
  src:  url('fonts/icomoon.eot?z3364e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z3364e') format('truetype'),
    url('fonts/icomoon.woff?z3364e') format('woff'),
    url('fonts/icomoon.svg?z3364e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-work-urge:before {
  content: "\e975";
}
.ic-detail:before {
  content: "\e921";
}
.ic-color:before {
  content: "\e91c";
}
.ic-approve:before {
  content: "\e907";
}
.ic-work-cancle:before {
  content: "\e93d";
}
.ic-work-deploy:before {
  content: "\e964";
}
.ic-work-receipt:before {
  content: "\e971";
}
.ic-work-redeploy:before {
  content: "\e973";
}
.ic-work-repair:before {
  content: "\e974";
}
.ic-work-receive:before {
  content: "\e972";
}
.ic-loading-success:before {
  content: "\e936";
}
.ic-loading-lose:before {
  content: "\e935";
}
.ic-cold:before {
  content: "\e91d";
}
.ic-hot:before {
  content: "\e932";
}
.ic-temperature:before {
  content: "\e93b";
}
.ic-map-onbuilding:before {
  content: "\e978";
}
.ic-map-stock:before {
  content: "\e979";
}
.ic-configuration:before {
  content: "\e977";
}
.ic-d-rotate:before {
  content: "\e900";
}
.ic-alarm-off:before {
  content: "\e901";
}
.ic-alarm:before {
  content: "\e902";
}
.ic-angle-down:before {
  content: "\e903";
}
.ic-angle-left:before {
  content: "\e904";
}
.ic-angle-right:before {
  content: "\e905";
}
.ic-angle-up:before {
  content: "\e906";
}
.ic-arrow-left:before {
  content: "\e908";
}
.ic-arrow-right:before {
  content: "\e909";
}
.ic-arrows-up-down:before {
  content: "\e90a";
}
.ic-arrows:before {
  content: "\e90b";
}
.ic-blocks:before {
  content: "\e90c";
}
.ic-calendar:before {
  content: "\e90d";
}
.ic-camera:before {
  content: "\e90e";
}
.ic-caret-down:before {
  content: "\e90f";
}
.ic-caret-left-down:before {
  content: "\e910";
}
.ic-caret-left-up:before {
  content: "\e911";
}
.ic-caret-left:before {
  content: "\e912";
}
.ic-caret-right-down:before {
  content: "\e913";
}
.ic-caret-right-up:before {
  content: "\e914";
}
.ic-caret-right:before {
  content: "\e915";
}
.ic-caret-up:before {
  content: "\e916";
}
.ic-check-square:before {
  content: "\e917";
}
.ic-check:before {
  content: "\e918";
}
.ic-circle-o:before {
  content: "\e919";
}
.ic-circle:before {
  content: "\e91a";
}
.ic-close:before {
  content: "\e91b";
}
.ic-company:before {
  content: "\e91e";
}
.ic-copy:before {
  content: "\e91f";
}
.ic-delete:before {
  content: "\e920";
}
.ic-device:before {
  content: "\e922";
}
.ic-dot-circle-o:before {
  content: "\e923";
}
.ic-download:before {
  content: "\e924";
}
.ic-edit:before {
  content: "\e925";
}
.ic-enterprise:before {
  content: "\e926";
}
.ic-error:before {
  content: "\e927";
}
.ic-exchange:before {
  content: "\e928";
}
.ic-exit-screen:before {
  content: "\e929";
}
.ic-fast-backward:before {
  content: "\e92a";
}
.ic-fast-forward:before {
  content: "\e92b";
}
.ic-filter:before {
  content: "\e92c";
}
.ic-focus:before {
  content: "\e92d";
}
.ic-forbid:before {
  content: "\e92e";
}
.ic-fsu:before {
  content: "\e92f";
}
.ic-full-screen:before {
  content: "\e930";
}
.ic-help:before {
  content: "\e931";
}
.ic-info:before {
  content: "\e933";
}
.ic-init:before {
  content: "\e934";
}
.ic-logout:before {
  content: "\e937";
}
.ic-map-finish-building:before {
  content: "\e938";
}
.ic-map-location:before {
  content: "\e939";
}
.ic-map-marker:before {
  content: "\e93a";
}
.ic-map-ranging:before {
  content: "\e93c";
}
.ic-menu-left:before {
  content: "\e93e";
}
.ic-menu-right:before {
  content: "\e93f";
}
.ic-minus-circle:before {
  content: "\e940";
}
.ic-minus-square:before {
  content: "\e941";
}
.ic-more:before {
  content: "\e942";
}
.ic-move-up-down:before {
  content: "\e943";
}
.ic-multi-select:before {
  content: "\e944";
}
.ic-notice:before {
  content: "\e945";
}
.ic-operation:before {
  content: "\e946";
}
.ic-paperclip:before {
  content: "\e947";
}
.ic-partition-1:before {
  content: "\e948";
}
.ic-partition-4:before {
  content: "\e949";
}
.ic-partition-9:before {
  content: "\e94a";
}
.ic-password:before {
  content: "\e94b";
}
.ic-pause:before {
  content: "\e94c";
}
.ic-person:before {
  content: "\e94d";
}
.ic-play:before {
  content: "\e94e";
}
.ic-plus-circle:before {
  content: "\e94f";
}
.ic-plus-square:before {
  content: "\e950";
}
.ic-print:before {
  content: "\e951";
}
.ic-read:before {
  content: "\e952";
}
.ic-redo:before {
  content: "\e953";
}
.ic-refresh:before {
  content: "\e954";
}
.ic-reset:before {
  content: "\e955";
}
.ic-reseting:before {
  content: "\e956";
}
.ic-rotate:before {
  content: "\e957";
}
.ic-save:before {
  content: "\e958";
}
.ic-search:before {
  content: "\e959";
}
.ic-select:before {
  content: "\e95a";
}
.ic-send:before {
  content: "\e95b";
}
.ic-setting:before {
  content: "\e95c";
}
.ic-spinner:before {
  content: "\e95d";
}
.ic-square:before {
  content: "\e95e";
}
.ic-start:before {
  content: "\e95f";
}
.ic-step-backward:before {
  content: "\e960";
}
.ic-step-forward:before {
  content: "\e961";
}
.ic-stop:before {
  content: "\e962";
}
.ic-success:before {
  content: "\e963";
}
.ic-time:before {
  content: "\e965";
}
.ic-times:before {
  content: "\e966";
}
.ic-undo:before {
  content: "\e967";
}
.ic-unfocus:before {
  content: "\e968";
}
.ic-unread:before {
  content: "\e969";
}
.ic-upload:before {
  content: "\e96a";
}
.ic-user-o:before {
  content: "\e96b";
}
.ic-user:before {
  content: "\e96c";
}
.ic-video:before {
  content: "\e96d";
}
.ic-volumn-off:before {
  content: "\e96e";
}
.ic-volumn-on:before {
  content: "\e96f";
}
.ic-warning:before {
  content: "\e970";
}
