<section id="entranceAuthorizePage">
    <div class="nav-tree cloak filter-online" ng-style="{top: __navbarTreeTop + 'px', display: 'block'}">
        <scloud-checkbox selected="searchKey.online" content="在线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <scloud-checkbox selected="searchKey.offline" content="离线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <input type="text" placeholder="搜索站点位置" ng-model="searchKey.keyword" ng-change="getNodesByParamFuzzy(searchKey,'areaTree','radioSiteTree');">
        <div class="scroll-wrap">
            <ul id="areaTree" class="ztree scroll" ng-hide="zTree.isEmpty"></ul>
            <p ng-show="zTree.isEmpty">没有符合要求的结果</p>
        </div>
        <div class="loader" ng-show="treeLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
    </div>
        
    <div class="bottom card-bg">
        <div class="page-header">
            <h3>门禁设备列表</h3>
            <button class="btn btn-primary" ng-if="util.checkPrivilege(6204)" ng-click="addAuthorize.toModal();">授权</button>
        </div>
        <div class="table-box scroll" ng-cloak>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th><th>名称</th><th>编号</th><th>所属系统</th><th>站点</th><th>设备厂家</th><th>设备型号</th><th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in entranceList">
                        <td><input type="checkbox" value="{{e.entrance.id}}" title="{{e.entrance.name}}" name="checkedEntrance"></td>
                        <td ng-bind="e.entrance.name"></td>
                        <td ng-bind="e.entrance.code"></td>
                        <td ng-bind="e.entrance.systemName"></td>
                        <td ng-bind="e.site.name"></td>
                        <td ng-bind="e.entrance.manufactory"></td>
                        <td ng-bind="e.entrance.model"></td>
                        <td>
                            <a ng-click="deleteAuthorize.toModal(e.entrance);" title="查看授权用户" class="ic ic-person"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        <div class="loader" ng-show="isLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
        <div class="no-data" ng-hide="isLoading || paginationConf.totalItems">
            <div class="img img-2x"></div>
        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
            
    </div>
        
    <form class="modal hide form-horizontal" data-backdrop="static" id="addAuthorizeModal"
          name="addAuthorize.form" novalidate ng-submit="addAuthorize.execute();">
        <div class="modal-header">
            <button type="reset" class="close" ng-click="addAuthorize.clear();"><i class="ic ic-close"></i></button>
            <h3>门禁授权</h3>
        </div>
        <div class="modal-body scroll">
            
            <div class="control-group">
                <label class="control-label">所选门禁</label>
                <div class="controls">
                    <scloud-label-box sng-model="addAuthorize.obj.entranceList" required >
                        <span class="help-inline"></span>
                    </scloud-label-box>
                </div>
            </div>
                
            <div class="control-group">
                <label class="control-label">授权用户</label>
                <div class="controls">
                    <scloud-check-select required
                                         sng-model="addAuthorize.obj.userList" 
                                         sng-options="userList">
                        <span class="help-inline"></span>
                    </scloud-check-select>
                </div>
            </div>
                
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="!addAuthorize.obj.entranceList || addAuthorize.obj.entranceList.length < 1 || !addAuthorize.obj.userList || addAuthorize.obj.userList.length < 1">确认</button>
            <button type="reset" class="btn btn-default" ng-click="addAuthorize.clear();">取消</button>
        </div>
    </form>
        
    <form class="modal hide form-horizontal" data-backdrop="static" id="deleteAuthorizeModal"
          name="deleteAuthorize.form" novalidate>
        <div class="modal-header">
            <button type="reset" class="close" ng-click="deleteAuthorize.clear();"><i class="ic ic-close"></i></button>
            <h3>授权用户列表</h3>
        </div>
        <div class="modal-body scroll">
            
            <div class="control-group">
                <label class="control-label">当前门禁</label>
                <div class="controls">
                    <span ng-bind="deleteAuthorize.obj.entranceName"></span>
                </div>
            </div>
                
            <div class="control-group">
                <label class="control-label">授权用户</label>
                <div class="controls">
                    <scloud-label-box sng-model="deleteAuthorize.obj.userList" sng-remove-callback="deleteAuthorize.execute">
                        <span class="help-inline"></span>
                    </scloud-label-box>
                </div>
            </div>
                
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-default" ng-click="deleteAuthorize.clear();">返回</button>
        </div>
    </form>
</section>