<section id="entranceListPage">
    <div class="nav-tree cloak filter-online" ng-style="{top: __navbarTreeTop + 'px', display: 'block'}">
        <scloud-checkbox selected="searchKey.online" content="在线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <scloud-checkbox selected="searchKey.offline" content="离线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <input type="text" placeholder="搜索站点位置" ng-model="searchKey.keyword" ng-change="getNodesByParamFuzzy(searchKey,'areaTree','radioSiteTree');">
        <div class="scroll-wrap">
            <ul id="areaTree" class="ztree scroll" ng-hide="zTree.isEmpty"></ul>
            <p ng-show="zTree.isEmpty">没有符合要求的结果</p>
        </div>
        <div class="loader" ng-show="treeLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
    </div>
        
    <div class="left card-bg">
        <div class="page-header">
            <h3>门禁设备列表</h3>
        </div>
        <div class="table-box scroll" ng-cloak>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>名称</th><th>编号</th><th>所属系统</th><th>站点</th><th>设备厂家</th><th>设备型号</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in entranceList" ng-click="getSignalList(e.entrance.id);" class="cursor-point {{CONST.animation.list}}" ng-class="{'focusLine':currentSelectedEntranceId === e.entrance.id}">
                        <td ng-bind="e.entrance.name"></td>
                        <td ng-bind="e.entrance.code"></td>
                        <td ng-bind="e.entrance.systemName"></td>
                        <td ng-bind="e.site.name"></td>
                        <td ng-bind="e.entrance.manufactory"></td>
                        <td ng-bind="e.entrance.model"></td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        <div class="loader" ng-show="isLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
        <div class="no-data" ng-hide="isLoading || paginationConf.totalItems">
            <div class="img img-2x"></div>
        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
            
    </div>
        
    <div class="right card-bg">
        <div class="page-header">
            <h3>门禁信号列表</h3>
        </div>
            
        <div class="table-box scroll">
            <div ng-show="alert.show" class="alert" ng-class="alert.type">
                <button type="reset" class="close" data-dismiss="alert"><i class="ic ic-close"></i></button>
                <span ng-bind="alert.text"></span>
            </div>
                
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>类型</th><th>名称</th><th>实时值</th><th>采集时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in signalList" ng-click="changeCurrentSelectedSignal(s.signal);" class="cursor-point {{CONST.animation.list}}" ng-class="{'focusLine':currentSelectedSignal.id === s.signal.id}">
                        <td ng-bind="s.signal.type"></td>
                        <td ng-bind="s.signal.name"></td>
                        <td>
                            <span ng-if="s.signal.type !== CONST.signalType.DI">
                                <span ng-bind="s.signal.value | nullFilter"></span>
                                <span ng-bind="s.signal.measurement"></span>
                            </span>
                            <span ng-if="s.signal.type === CONST.signalType.DI" ng-bind="s.signal.value | signalStateFilter"></span>
                        </td>
                        <td ng-bind="s.signal.tRecord | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        <div class="loader" ng-show="isLoading2">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
        <div class="no-data" ng-hide="isLoading2 || signalList">
            <div class="img img-1x"></div>
        </div>
    </div>
        
    <div class="bottom card-bg">
        <div class="page-header">
            <h3>
                <span ng-if="!currentSelectedSignal.name">请选择信号</span>
                <span ng-if="currentSelectedSignal.name" ng-bind="currentSelectedSignal.name"></span>
            </h3>
        </div>
            
        <div ng-if="currentSelectedSignal" ng-class="CONST.animation.info" class="text-center" ng-cloak>
            
            <dl class="dl-horizontal">
                <dt>采集时间</dt>
                <dd ng-bind="currentSelectedSignal.tRecord | date: 'yyyy-MM-dd HH:mm:ss'"></dd>
                    
                <dt>信号类型</dt>
                <dd ng-bind="currentSelectedSignal.type"></dd>
                    
                <dt>信号编号</dt>
                <dd ng-bind="currentSelectedSignal.code"></dd>
                    
                <dt>信号详情</dt>
                <dd ng-bind="currentSelectedSignal.details | nullFilter"></dd>
            </dl>
                
            <button type="button" class="btn btn-primary" ng-if="hasAuthorize" ng-click="modifyTeleControl(currentSelectedSignal);">发送控制信号</button>
        </div>
            
        <div ng-hide="currentSelectedSignal" class="no-data" ng-cloak>
            <div class="img img-1x"></div>
        </div>
    </div>
</section>