<section id="operationMapPaeg">    
    <div class="nav-tree cloak" ng-style="{top: __navbarTreeTop + 'px', display: 'block'}">
        <scloud-checkbox class="sc-checkbox filter-online" content="在线" selected="treeQuery.online"></scloud-checkbox>
        <scloud-checkbox class="sc-checkbox filter-offline" content="离线" selected="treeQuery.offline"></scloud-checkbox>
        <br/>
        <scloud-checkbox class="sc-checkbox" content = "在建" content-class="onbuilding" selected="treeQuery.onbuilding"></scloud-checkbox>
        <scloud-checkbox class="sc-checkbox" content = "竣工" content-class="finishBuilding" selected="treeQuery.finishBuilding"></scloud-checkbox>
        <scloud-checkbox class="sc-checkbox" content = "存量" content-class="stock" selected="treeQuery.stock"></scloud-checkbox>
        
        <div class="search">
            <input type="text" placeholder="搜索站点名称" ng-model="searchKey"><button class="btn btn-primary" ng-click="filterTree()">查询</button>
        </div>
        <div class="scroll-wrap">
            <ul id="siteTree" class="ztree scroll" ng-hide="zTree.isEmpty"></ul>
            <div ng-show="zTree.isEmpty" class="no-data">
                <div class="img img-2x"></div>
            </div>
        </div>
        <div class="loader" ng-show="treeLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
    </div>
    <div class="card-bg right">
        <div id="siteMap"></div>
        <div class="filter-btn cursor-point" ng-click="showFilter = !showFilter">
            <i class="ic ic-filter"></i>筛选
        </div>
        <div class="distance-btn cursor-point" ng-click="startDistance()"><i class="ic ic-map-ranging"></i>测距</div>
        <div class="filter" ng-show="showFilter" ng-class="CONST.animation.list">
            <div class="arrow"></div>
            <div class="item-row">
                <label>站点编码</label>
                <input type="text" ng-model="siteQuery.code">
            </div>
            <div class="item-row">
                <label>站点名称</label>
                <input type="text" ng-model="searchKey">
            </div>
            <div class="item-row">
                <label>站点类型</label>
                <select ng-model="siteQuery.stationType" ng-options="item.key as item.value for item in CONST.stationTypeList">
                    <option ng-bind="'全部'"></option>
                </select>
            </div>
            <div class="item-row">
                <label>归属公司</label>
                <input type="text" ng-model="siteQuery.company">
            </div>
            <div class="item-row">
                <label>共享情况</label>
                <scloud-select list="shareInfoList"></scloud-select>
            </div>
            <div class="item-row">
                <label>平台信息</label>
                <input type="text" ng-model="siteQuery.platform">
            </div>
            <div class="item-row">
                <label></label>
                <button class="btn btn-primary" ng-click="filterSite()">查询</button>
            </div>
            <br />
            <div class="item-row">
                <label>经度</label>
                <input type="text" ng-model="siteQuery.lng">
            </div>
            <div class="item-row">
                <label>纬度</label>
                <input type="text" ng-model="siteQuery.lat">
            </div>
            <div class="item-row address">
                <label>地址</label>
                <input type="text" ng-model="siteQuery.address">
                <span class="suffix"><i class="ic ic-copy clipboard" data-clipboard-text='{{siteQuery.address}}'></i></span>
            </div>
            <div class="item-row">
                <label></label>
                <button ng-disabled="!checkCoordValid()" class="btn btn-primary" ng-click="getAddr()">坐标反查</button>
            </div>
        </div>        
    </div>

    <form class="modal hide form-horizontal imageModal" data-backdrop="static" id="imageShowModal">
        <div class="mask" ng-click="hidemage()">
            <div class="img-wrapper">
                <img ng-if="showSIteimage" ng-src="{{'/siteFunc/querySiteImage/' + curSite.id}}" alt="暂无图片" ng-click="$event.stopPropagation()">
            </div>                
        </div>
    </form>

</section>