<section id="operationWorkListPage">
    <ul class="nav nav-tabs" ng-show = "!ifShowSingleWork">
        <li ng-repeat="item in tabPage.pageList" ng-class="{active:tabPage.isActive($index)}">
            <a ng-click="tabPage.showPage($index); changeHasTree($index);" ng-bind="item"></a>
        </li>
    </ul>
    <div class="nav-tree cloak" ng-show="!ifShowSingleWork && tabPage.isActive(0)" ng-style="{top: __navbarTreeTop + 'px', display: 'block'}">
        <input type="text" placeholder="搜索站点位置" ng-model="searchKey"
               ng-change="getNodesByParamFuzzy(searchKey, 'areaTree', 'checkboxTierTree');">
        <div class="scroll-wrap">
            <ul id="areaTree" class="ztree scroll" ng-hide="zTree.isEmpty"></ul>
            <div ng-show="zTree.isEmpty" class="no-data">
                <div class="img img-2x"></div>
            </div>
        </div>
        <div class="loader" ng-show="treeLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
    </div>
    <!--工单列表-->
    <div class="bottom card-bg" ng-show="!ifShowSingleWork && tabPage.isActive(0)">
        <form class="top query-form">
            <div class="form-inline">
                <label>派单方式</label>
                <select ng-model="orderQuery.sendType" ng-options="item as item for item in CONST.workList.sendType">
                    <option value="">全部</option>
                </select>

                <label>工单状态</label>
                <select ng-model="orderQuery.state" ng-options="item as item for item in CONST.workList.status">
                    <option ng-bind="'全部'"></option>
                </select>

                <label>工单流水号</label>
                <input type="text" ng-model="orderQuery.code">

                <label>站点名称</label>
                <input type="text" ng-model="orderQuery.siteName">
            </div>

            <div class="form-inline">
                <label>站点分级</label>
                <input type="text" class="cursor-point" ng-model="orderQuery.tierName" />

                <label>设备类型</label>
                <select ng-model="orderQuery.device" ng-options="item as item.typeName for item in deviceTypeList">
                    <option ng-if="!deviceTypeList" ng-bind="'全部'"></option>
                </select>

                <label>告警名称</label>
                <input type="text" ng-model="orderQuery.alarmName" />

                <label>告警等级</label>
                <select ng-model="orderQuery.alarmLevel" ng-options="item.levels[0] as item.name for item in alarmLevelList">
                    <option ng-bind="'全部'"></option>
                </select>
            </div>

            <div class="form-inline">
                <label>告警状态</label>
                <select ng-model="orderQuery.checkState" ng-options="item.value as item.value for item in CONST.alarmCheckedStateList">
                    <option ng-bind="'全部'"></option>
                </select>

                <label>派单时间</label>
                <div class="startTime input-append date">
                    <input size="16" type="text" value="" ng-model="orderQuery.sentBeginTime">
                    <span class="add-on"><i class="icon-th icon-white"></i></span>
                </div>
                <label>-</label>
                <div class="endTime input-append date">
                    <input size="16" type="text" value="" ng-model="orderQuery.sentEndTime">
                    <span class="add-on"><i class="icon-th icon-white"></i></span>
                </div>
                <button class="btn btn-primary" ng-click="query();">查询</button>
                <button class="btn btn-default" type="reset" ng-click="reset();">清除</button>
            </div>
        </form>
        <!--按照典型案例、按照完整信息-->
        <div class="work-orders">
            <div class="card-bg">
                <div class="page-header">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="item in subTabPage.pageList" ng-class="{active:subTabPage.isActive($index)}">
                            <a ng-click="subTabPage.showPage($index);" ng-bind="item"></a>
                        </li>
                    </ul>
                    <button ng-if="util.checkPrivilege(2607)" class="btn btn-primary" ng-click="exportWorkList()">
                        <i class="ic ic-download" title="下载文件"></i> 导出Excel
                    </button>
                </div>
                <div class="table-box scroll">
                    <table ng-style="{width: subTabPage.currentIndex === 1 ? '2500px':'100%'}" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>告警工单流水号</th>
                            <th>派单类型</th>
                            <th>工单状态</th>
                            <th>告警时间</th>
                            <th>派单时间</th>
                            <th>任务时限</th>
                            <th ng-show="subTabPage.currentIndex === 1">回单时间</th>
                            <th ng-show="subTabPage.currentIndex === 1">站点层级</th>
                            <th>站点名称</th>
                            <th ng-show="subTabPage.currentIndex === 1">站点地址</th>
                            <th ng-show="subTabPage.currentIndex === 1">设备类型</th>
                            <th>告警名称</th>
                            <th>告警级别</th>
                            <th>告警状态</th>
                            <th>接单人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in orderList" class="cursor-point" ng-click="$parent.curWork=item; showSingleWork()">
                            <td ng-bind="item.code"></td>
                            <td ng-bind="item.sendType"></td>
                            <td ng-bind="item.state" ng-class="{
                                '未派单': 'font-white',
                                '已派单': 'font-white',                                
                                '超时未接单': 'font-danger',
                                '已接单': 'font-white',
                                '超时未回单': 'font-danger',
                                '已回单': 'font-success'
                            }[item.status]"></td>
                            <td ng-bind="item.workAlarmList[0].treport | nullFilter | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                            <td ng-bind="item.sentTime | nullFilter | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                            <td ng-bind="item.taskTime + '小时'"></td>
                            <td ng-bind="item.backTime | nullFilter | date: 'yyyy-MM-dd HH:mm:ss'" ng-show="subTabPage.currentIndex === 1"></td>
                            <td ng-bind="getSiteTier(item.site.strId)" ng-show="subTabPage.currentIndex === 1"></td> <!-- 没有 -->
                            <td ng-bind="item.site.name"></td>
                            <td ng-bind="item.address | nullFilter" ng-show="subTabPage.currentIndex === 1"></td>
                            <td ng-bind="getDeviceType(item.deviceType)" ng-show="subTabPage.currentIndex === 1"></td>
                            <td ng-bind="item.workAlarmList[0].alarmName"></td>
                            <td ng-bind="item.workAlarmList[0].level | SDGD_alarmLevelFilter:alarmLevelForFilter"></td>
                            <td ng-bind="item.workAlarmList[0].state"></td>
                            <td ng-bind="item.worker.name | nullFilter"></td>
                            <td>
                                <a title="接单" ng-if="user.job==='维护人员'" ng-show="needShowBtn('接单', item.state)" class="ic ic-work-deploy" ng-click="applyWork(item); $event.stopPropagation()"></a>
                                <a title="转单" ng-if="util.checkPrivilege(2618)" ng-show="needShowBtn('转单', item.state)" class="ic ic-work-redeploy" ng-click="redeploy.toModal(item); $event.stopPropagation()"></a>
                                <a title="催单" ng-if="util.checkPrivilege(2619)" ng-show="needShowBtn('催单', item.state)" class="ic ic-work-urge" ng-click="urge.toModal(item); $event.stopPropagation()"></a>
                                <a title="撤单" ng-if="util.checkPrivilege(2620)" ng-show="needShowBtn('撤单', item.state)" class="ic ic-work-cancle" ng-click="cancleWork(item); $event.stopPropagation()"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="loader" ng-show="isLoading">
                    <i class="ic ic-spinner ic-spin ic-5x"></i>
                </div>
                <div ng-hide="isLoading || paginationConf.totalItems" class="no-data">
                    <div class="img img-2x"></div>
                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
            <div class="work-orders-complete" ng-show="subTabPage.isActive($index)"></div>
        </div>
    </div>
    <!--工单配置-->
    <div class="bottom card-bg" ng-show="!ifShowSingleWork && tabPage.isActive(1)">
        <form class="top query-form">
            <div class="form-inline">

                <label>派单方式</label>
                <select ng-model="workConfigQuery.sendType" ng-options="item as item for item in CONST.workList.sendType">
                    <option value="">全部</option>
                </select>

                <label>告警级别</label>                
                <select ng-model="workConfigQuery.alarmLevelList" ng-options="item.levels[0] as item.name for item in alarmLevelList">
                    <option value="">全部</option>
                </select>

                <label>告警名称</label>
                <input type="text" ng-model="workConfigQuery.signalName">

                <button class="btn btn-primary" ng-click="queryWorkConfig();">查询</button>
                <button class="btn btn-default" type="reset" ng-click="resetWorkConfig();">清除</button>
            </div>
        </form>
        <div class="work-orders setting-work-orders">
            <div class="card-bg">
                <div class="page-header">
                    <h3 style="color: #000">工单配置</h3>
                    <button ng-if="util.checkPrivilege(2702)" class="btn btn-primary" ng-click="addOrModifyWork.toModal()">
                        <i class="ic ic-plus"  title="增加"></i> 增加
                    </button>
                </div>
                <div class="table-box scroll">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>派单方式</th>
                            <th>创建方式</th>
                            <th>站点类型</th>
                            <th>告警级别</th>
                            <th>告警名称</th>
                            <th>启动时限</th>
                            <th>开始时间点</th>
                            <th>结束时间点</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in workConfigList">
                            <td ng-bind = "$index + 1"></td>
                            <td ng-bind = "item.sendType"></td>
                            <td ng-bind = "item.type"></td>
                            <td ng-bind = "item.stationTypeList.length > 1 ? '全部' : (item.stationTypeList[0] | stationTypeFilter)"></td>
                            <td ng-bind = "item.alarmLevelList | SDGD_alarmLevelFilter:alarmLevelForFilter"></td>
                            <td ng-bind = "item.alarmNameList.join('、') | nullFilter"></td>
                            <td ng-bind = "item.sendType === '手动' ? '-' : (item.reportAfter + '分钟')"></td>
                            <td ng-bind = "item.reportBegin | nullFilter: ':00'"></td>
                            <td ng-bind = "item.reportEnd | nullFilter: ':00'"></td>
                            <td>
                                <a title="编辑" ng-if="item.type !== '默认' && util.checkPrivilege(2704)" class="ic ic-edit" ng-click="addOrModifyWork.toModal(item);"></a>
                                <a title="详情" class="ic ic-detail" ng-click="addOrModifyWork.toModal(item, 'detail');"></a>
                                <a title="删除" ng-if="item.type !== '默认' && util.checkPrivilege(2705)" class="ic ic-delete" ng-click="deleteWorkConfig.toModal(item);"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="loader" ng-show="workConfigLoading">
                    <i class="ic ic-spinner ic-spin ic-5x"></i>
                </div>
                <div ng-hide="workConfigLoading || workConfigPaginationConf.totalItems" class="no-data">
                    <div class="img img-2x"></div>
                </div>
                <tm-pagination conf="workConfigPaginationConf"></tm-pagination>
            </div>
            <div class="work-orders-complete" ng-show="subTabPage.isActive($index)"></div>
        </div>

        <!--创建/修改工单-->
        <form class="modal hide form-horizontal" data-backdrop="static" id="addOrModifyWorkModal"
            name="addOrModifyWork.form" novalidate ng-submit="addOrModifyWork.execute();">
            <div class="nav-tree nav-tree-sm">
                <div scloud-toggle target="target2" position="right" init-state="true" handler="toggleNavTree2"></div>
                <input type="text" placeholder="搜索站点" ng-model="searchKey2" ng-change="getNodesByParamFuzzy2(searchKey2,'areaTree2','checkboxTierTree');">
                <div class="scroll-wrap">
                    <ul id="areaTree2" class="ztree scroll" ng-hide="zTree2.isEmpty"></ul>
                    <div ng-show="zTree2.isEmpty" class="no-data">
                        <div class="img img-2x"></div>
                    </div>
                </div>
                <div class="loader" ng-show="treeLoading2">
                    <i class="ic ic-spinner ic-spin ic-5x"></i>
                </div>
            </div>
            <div class="modal-header">
                <button type="reset" class="close" ng-click="addOrModifyWork.clear();"><i class="ic ic-close"></i></button>
                <h3 ng-bind="addOrModifyWork.title"></h3>
            </div>
            <div class="modal-body scroll">
                <div class="control-group">
                    <label class="control-label">派单方式</label>
                    <div class="controls">
                        <select required
                                ng-disabled="addOrModifyWork.status === 'detail'"
                                ng-model="addOrModifyWork.obj.sendType"
                                ng-options="item as item for item in CONST.workList.sendType">
                        </select>
                        <span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">启用范围</label>
                    <div class="controls">
                        <input type="text" class="cursor-point" placeholder="点击选择站点"
                               ng-click="addOrModifyWork.status != 'detail' && toggleNavTree2();"
                               readonly 
                               ng-model="addOrModifyWork.obj.tierName">
                        <span class="help-inline required"></span>
                    </div>
                </div>
                <div class="control-group" ng-show="addOrModifyWork.obj.sendType === '自动派单'">
                    <label class="control-label">站点类型</label>
                    <div class="controls">
                        <select ng-model="addOrModifyWork.obj.stationType"
                                ng-disabled="addOrModifyWork.status === 'detail'"
                                ng-options="item.value as item.value for item in CONST.stationTypeList">
                                <option ng-bind="'全部'"></option>
                        </select>
                        <span class="help-inline required"></span>
                    </div>
                </div>
                <div class="control-group" ng-show="addOrModifyWork.obj.sendType === '自动派单'">
                    <label class="control-label">告警级别</label>
                    <div class="controls">                        
                        <input type="text" class="form-control" multiple
                                ng-disabled="addOrModifyWork.status === 'detail'"
                               select2 config="alarmLevelListSelect2"
                               select2-model="addOrModifyWork.obj.alarmLevelList" />
                    </div>
                </div>
                <div class="control-group" ng-show="addOrModifyWork.obj.sendType === '自动派单'">
                    <label class="control-label">告警名称</label>
                    <div class="controls">
                        <input type="text" class="form-control" multiple
                               select2 config="allDeviceTypeListForSelect2"
                                ng-disabled="addOrModifyWork.status === 'detail'"
                               select2-model="addOrModifyWork.obj.alarmNameList" />
                        <span ng-show="addOrModifyWork.error" class="font-danger">告警名称和告警等级只能填写一项</span>
                    </div>
                </div>
                <div class="control-group" ng-class="getValidClass(addOrModifyWork.form.reportAfter);" ng-show="addOrModifyWork.obj.sendType === '自动派单'">
                    <label class="control-label">告警后启用时限</label>
                    <div class="controls">
                        <input type="text" name="reportAfter" 
                               ng-model="addOrModifyWork.obj.reportAfter"
                               placeholder="{{REGEX.workConfigTimeDesc}}" 
                                ng-disabled="addOrModifyWork.status === 'detail'"
                               ng-pattern = "REGEX.workConfigTime">
                        分钟<span class="help-inline required"></span>
                    </div>
                </div>
                <div class="control-group startTime input-append date" setting='{"format": "hh:mm:00"}' ng-show="addOrModifyWork.obj.sendType === '自动派单'">
                    <label class="control-label">派单启用开始时间</label>
                    <div class="controls">
                        <input size="16" type="text" value=""
                                ng-disabled="addOrModifyWork.status === 'detail'"
                               ng-model="addOrModifyWork.obj.reportBegin">
                        <span class="add-on"><i class="icon-th icon-white"></i></span>
                    </div>
                </div>
                <div class="control-group endTime input-append date" setting='{"format": "hh:mm:00"}' ng-show="addOrModifyWork.obj.sendType === '自动派单'">
                    <label class="control-label">派单启用结束时间</label>
                    <div class="controls">
                        <input size="16" type="text" value=""
                                ng-disabled="addOrModifyWork.status === 'detail'"
                               ng-model="addOrModifyWork.obj.reportEnd">
                        <span class="add-on"><i class="icon-th icon-white"></i></span>
                    </div>
                </div>

               <!--  <div class="control-group" ng-show="addOrModifyWork.obj.sendType === '自动派单'">
                    <label class="control-label">派单启用时间段</label>
                    <div class="controls">
                        <scloud-range start = "00:00" end = "23:59" 
                            max="addOrModifyWork.obj.reportEnd" 
                            min="addOrModifyWork.obj.reportBegin"></scloud-range>
                    </div>
                </div> -->

                <div class="control-group" ng-class="getValidClass(addOrModifyWork.form.csjdsc);">
                    <label class="control-label">超时接单提醒时长</label>
                    <div class="controls">
                        <input type="text" name="csjdsc"
                               required
                               ng-model="addOrModifyWork.obj.csjdsc"
                               placeholder="{{REGEX.workConfigTimeDesc}}" 
                               ng-pattern = "REGEX.workConfigTime"
                                ng-disabled="addOrModifyWork.status === 'detail'"
                               ng-pattern="REGEX.cellphone">
                        分钟<span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group" ng-class="getValidClass(addOrModifyWork.form.csjdtxjg);">
                    <label class="control-label">超时接单提醒间隔</label>
                    <div class="controls">
                        <input type="text" name="csjdtxjg"
                               required
                               ng-model="addOrModifyWork.obj.csjdtxjg"
                               placeholder="{{REGEX.workConfigTimeDesc}}" 
                                ng-disabled="addOrModifyWork.status === 'detail'"
                               ng-pattern = "REGEX.workConfigTime"
                               ng-pattern="REGEX.cellphone">
                        分钟<span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group" ng-class="getValidClass(addOrModifyWork.form.cshdsc);">
                    <label class="control-label">超时回单提醒时长</label>
                    <div class="controls">
                        <input type="text" name="cshdsc"
                               required
                               ng-model="addOrModifyWork.obj.cshdsc"
                               placeholder="{{REGEX.workConfigTimeDesc}}" 
                                ng-disabled="addOrModifyWork.status === 'detail'"
                               ng-pattern = "REGEX.workConfigTime"
                               ng-pattern="REGEX.cellphone">
                        分钟<span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group" ng-class="getValidClass(addOrModifyWork.form.cshdtxjg);">
                    <label class="control-label">超时回单提醒间隔</label>
                    <div class="controls">
                        <input type="text" name="cshdtxjg"
                               required
                               ng-model="addOrModifyWork.obj.cshdtxjg"
                               placeholder="{{REGEX.workConfigTimeDesc}}" 
                               ng-pattern = "REGEX.workConfigTime"
                                ng-disabled="addOrModifyWork.status === 'detail'"
                               ng-pattern="REGEX.cellphone">
                        分钟<span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" 
                    ng-disabled="addOrModifyWork.form.$invalid || 
                    !addOrModifyWork.obj.siteCodeList || 
                    addOrModifyWork.obj.siteCodeList.length === 0 || 
                    (addOrModifyWork.obj.sendType === '自动派单' && 
                        (!addOrModifyWork.obj.reportAfter || 
                        (!(addOrModifyWork.obj.alarmLevelList.length > 0) && !(addOrModifyWork.obj.alarmNameList.length > 0))))">确认</button>
                <button type="reset" class="btn btn-default" ng-click="addOrModifyWork.clear();">取消</button>
            </div>
        </form>
    </div>



    <div class="scroll" id="work-single-page" ng-show = "ifShowSingleWork">
        <div id="back" ng-click="ifShowSingleWork = false">
            <i class="ic ic-angle-left"></i> <span>返回</span>
        </div>

        <div class="info card-bg">
            <div class="page-header">
                <h3>工单信息</h3>            
            </div>
            <div class="page-body query-form">            
                <div class="form-inline ">
                    <div class="form-inline item">
                        <label>工单流水号</label>
                        <span ng-bind = "curWork.code"></span>
                    </div>
                    <div class="form-inline item">
                        <label>派单类型</label>
                        <span ng-bind = "curWork.sendType"></span>
                    </div>
                    <div class="form-inline item">
                        <label>工单状态</label>
                        <span ng-bind = "curWork.state"></span>
                    </div>
                    <div class="form-inline item">
                        <label>站点名称</label>
                        <span ng-bind = "curWork.site.name"></span>
                    </div>
                    <!-- meiyou  精确到分，以天、小时、分显示 -->
                    <div class="form-inline item">
                        <label>站点地址</label>
                        <span ng-bind = "curWork.site.name"></span>
                    </div>
                    <div class="form-inline item">
                        <label>接单人</label>
                        <span ng-bind = "curWork.worker.name"></span>
                    </div>
                    <div class="form-inline item">
                        <label>联系方式</label>
                        <span ng-bind = "curWork.worker.phone"></span>
                    </div>
                    <div class="form-inline item">
                        <label>设备类型</label>
                        <span ng-bind = "getDeviceType(curWork.deviceType)"></span>
                    </div>
                    <div class="form-inline item">
                        <label>派单时间</label>
                        <span ng-bind = "curWork.sentTime | date: 'yyyy-MM-dd HH:mm:ss'"></span>
                    </div>
                    <!-- ？？？ -->
                    <div class="form-inline item">
                        <label>接单时限</label>
                        <span ng-bind = "curWork.taskTime + '小时'"></span>
                    </div>
                    <!-- ？？？ -->
                    <div class="form-inline item">
                        <label>接单时长</label>
                        <span ng-bind = "curWork.taskTime + '小时'"></span>
                    </div>
                    <div class="form-inline item">
                        <label>接单时间</label>
                        <span ng-bind = "curWork.receTime | date: 'yyyy-MM-dd HH:mm:ss' | nullFilter"></span>
                    </div>
                    <div class="form-inline item">
                        <label>超时接单</label>
                        <span ng-bind = "curWork.csjdsc + '分钟'"></span>
                    </div>
                    <!-- ???  -->
                    <div class="form-inline item">
                        <label>回单时限</label>
                        <span ng-bind = "curWork.cshdtxjg + '小时'"></span>
                    </div>
                    <div class="form-inline item">
                        <label>回单时长</label>
                        <span ng-bind = "curWork.cshdsc + '小时'"></span>
                    </div>
                    <div class="form-inline item">
                        <label>回单时间</label>
                        <span ng-bind = "curWork.backTime | date: 'yyyy-MM-dd HH:mm:ss' | nullFilter"></span>
                    </div>
                    <div class="form-inline item">
                        <label>超时回单</label>
                        <span ng-bind = "curWork.cshdsc + '分钟'"></span>
                    </div>
                    <div class="form-inline item">
                        <label>任务历时</label>
                        <span ng-bind = "curWork.taskTime + '分钟'"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="alarm card-bg" ng-style="{height: alarmHeight}">        
            <div class="page-header">
                <h3>告警信息</h3>            
            </div>
            <div class="table-box scroll">
                <table scloud-table-head-fix class="table table-hover">
                    <thead>
                        <tr>
                            <th>告警名称</th>
                            <th>告警等级</th>
                            <th>告警详情</th>
                            <th>告警状态</th>
                            <th>告警时间</th>
                            <th>告警清除时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="alarm in curWork.workAlarmList" ng-class="CONST.animation.list">
                            <td ng-bind="alarm.alarmName">告警名称</td>
                            <td ng-bind="alarm.level | SDGD_alarmLevelFilter:alarmLevelForFilter">告警等级</td>
                            <!-- ??? -->
                            <td ng-bind="alarm.details">告警详情</td>
                            <td ng-bind="alarm.state">告警状态</td>
                            <td ng-bind="alarm.treport | date: 'yyyy-MM-dd HH:mm:ss' | nullFilter">告警时间</td>
                            <td ng-bind="alarm.trecover | date: 'yyyy-MM-dd HH:mm:ss' | nullFilter">告警清除时间</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="record card-bg" ng-style="{top: recordTop}">        
            <div class="page-header">
                <h3>处理记录</h3>            
            </div>
            <div class="table-box scroll">
                <table scloud-table-head-fix class="table table-hover">
                    <thead>
                        <tr>
                            <th>操作记录</th>
                            <th>处理人</th>
                            <th>账号</th>
                            <th>联系电话</th>
                            <th>操作描述</th>
                            <th>操作时间</th>
                            <th>处理时长</th>
                            <th>操作终端</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in curWork.workRecordList" ng-class="CONST.animation.list">
                            <td ng-bind="record.operateType | nullFilter"></td>
                            <td ng-bind="record.worker.name | nullFilter"></td>
                            <td ng-bind="record.worker.strId | nullFilter"></td>
                            <td ng-bind="record.worker.phone | nullFilter"></td>
                            <td ng-bind="record.operateDescribe | nullFilter"></td>
                            <td ng-bind="record.operateTime | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                            <td ng-bind="record.handleTime * 60 | secondFilter"></td>
                            <td ng-bind="record.operateFTU"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="operation">
            <button class="btn btn-primary" ng-if="user.job==='维护人员'" ng-show="needShowBtn('接单', curWork.state)" ng-click="applyWork(curWork)">接单</button>
            <button class="btn btn-primary" ng-if="util.checkPrivilege(2619)" ng-show="needShowBtn('催单', curWork.state)" ng-click="urge.toModal()">催单</button>
            <button class="btn btn-primary" ng-if="util.checkPrivilege(2618)" ng-show="needShowBtn('转单', curWork.state)" ng-click="redeploy.toModal()">转单</button>
            <button class="btn btn-primary" ng-if="util.checkPrivilege(2621) && user.job==='维护人员'" ng-show="needShowBtn('回单', curWork.state)" ng-click="response.toModal('回单')">回单</button>
            <button class="btn btn-primary" ng-if="util.checkPrivilege(2620)" ng-show="needShowBtn('撤单', curWork.state)" ng-click="cancleWork(curWork); ifShowSingleWork=false">撤单</button>
            <button class="btn btn-primary" ng-if="util.checkPrivilege(2621) && user.job==='维护人员'" ng-show="needShowBtn('回单补充', curWork.state)" ng-click="response.toModal('回单补充')">回单补充</button>
        </div>
    </div>

    <div>
        <form class="modal hide form-horizontal" data-backdrop="static" id="redeployModal" name="redeploy.form" novalidate ng-submit="redeploy.execute();">           
            <div class="modal-header">
                <button type="reset" class="close" ng-click="redeploy.clear();"><i class="ic ic-close"></i></button>
                <h3>转派</h3>
            </div> 
            <div class="modal-body scroll">                
                <div class="control-group">
                    <label class="control-label">转派人</label>
                    <div class="controls">
                        <span ng-bind="user.name"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">转派时间</label>
                    <div class="controls">
                        <span ng-bind="redeploy.obj.sentTime | date: 'yyyy-MM-dd HH:mm:ss'"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">被转派人</label>
                    <div class="controls">
                        <select ng-model="redeploy.obj.receiver" ng-style="{color: redeploy.obj.receiver ? '#000':'#999'}" ng-options = "item as item.name for item in workerList">
                            <option value="" style="display: none;" ng-if="!redeploy.obj.receiver" selected>请选择</option>          
                        </select>
                        <span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">被转派人电话</label>
                    <div class="controls">
                        <span ng-bind="redeploy.obj.receiver.phone | nullFilter"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">被转派人账号</label>
                    <div class="controls">
                        <span ng-bind="redeploy.obj.receiver.username | nullFilter"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">转派原因</label>
                    <div class="controls">
                        <textarea placeholder="请输入" style="resize: none" maxlength="120" ng-model="redeploy.obj.operateDescribe" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">确认</button>
                <button type="reset" class="btn btn-default" ng-click="redeploy.clear();">取消</button>
            </div>
        </form>

        <form class="modal hide form-horizontal" data-backdrop="static" id="urgeModal" name="urge.form" novalidate ng-submit="urge.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="urge.clear();"><i class="ic ic-close"></i></button>
                <h3>催单</h3>
            </div> 
            <div class="modal-body scroll">                
                <div class="control-group">
                    <label class="control-label">催单人</label>
                    <div class="controls">
                        <span ng-bind="user.name"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">催单时间</label>
                    <div class="controls">
                        <span ng-bind="urge.obj.urgeTime | date: 'yyyy-MM-dd HH:mm:ss'"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">催单次数</label>
                    <div class="controls">
                        <span ng-bind="curWork.urgeCount | nullFilter"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">催单原因</label>
                    <div class="controls">
                        <textarea placeholder="请输入" style="resize: none" maxlength="120" ng-model="urge.obj.operateDescribe" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">确认</button>
                <button type="reset" class="btn btn-default" ng-click="urge.clear();">取消</button>
            </div>
        </form>

        <form class="modal hide form-horizontal" data-backdrop="static" id="responseModal" name="response.form" novalidate ng-submit="response.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="response.clear();"><i class="ic ic-close"></i></button>
                <h3>回单</h3>
            </div> 
            <div class="modal-body scroll">                
                <div class="control-group">
                    <label class="control-label">回单人</label>
                    <div class="controls">
                        <span ng-bind="user.name"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">回单时间</label>
                    <div class="controls">
                        <span ng-bind="response.obj.responseTime | date: 'yyyy-MM-dd HH:mm:ss'"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">被转派人账号</label>
                    <div class="controls">
                        <span ng-bind="curWork.workerAccount | nullFilter"></span>
                    </div>
                </div>        
                <div class="control-group">
                    <label class="control-label">告警名称</label>
                    <div class="controls">
                        <span ng-bind="curWork.alarmList[0].signalName"></span>
                    </div>
                </div> 
                <div class="control-group">
                    <label class="control-label">处理方式</label>
                    <div class="controls">
                        <select ng-model="response.obj.handleWay">
                            <option value="远程">远程</option>     
                            <option value="现场">现场</option>     
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">故障原因</label>
                    <div class="controls">
                        <textarea placeholder="请输入" style="resize: none" maxlength="120" ng-model="response.obj.reason" rows="5"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">处理措施</label>
                    <div class="controls">
                        <textarea placeholder="请输入" style="resize: none" maxlength="120" ng-model="response.obj.operateDescribe" rows="5"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">处理结果</label>
                    <div class="controls">
                        <select ng-model="response.obj.handleResult">
                            <option value="已完成">已完成</option>     
                            <option value="未完成">未完成</option>     
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">验证方式</label>
                    <div class="controls">
                        <input type="text" readonly value="{{response.obj.handleResult === '已完成' ? '告警消除':'不验证'}}" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">确认</button>
                <button type="reset" class="btn btn-default" ng-click="response.clear();">取消</button>
            </div>
        </form>


        <form class="modal hide form-horizontal" data-backdrop="static" id="deleteWorkConfigModal"
              name="deleteWorkConfig.form" novalidate ng-submit="deleteWorkConfig.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="deleteWorkConfig.clear();"><i class="ic ic-close"></i></button>
                <h3>删除配置</h3>
            </div>
            <div class="modal-body scroll">
                <div class="notification">
                    <h4 class="title"><i class="ic ic-warning font-warning"></i>确定要删除该配置？</h4>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="deleteWorkConfig.form.$invalid">确认</button>
                <button type="button" class="btn btn-default" ng-click="deleteWorkConfig.clear();">取消</button>
            </div>
        </form>
    </div>
</section>