<section id="dataDebugPage">
    <div class="nav-tree cloak filter-online" ng-style="{top: __navbarTreeTop + 'px', display: 'block'}">
        <scloud-checkbox selected="searchKey.online" content="在线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <scloud-checkbox selected="searchKey.offline" content="离线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <input type="text" placeholder="搜索站点位置" ng-model="searchKey.keyword" ng-change="getNodesByParamFuzzy()">
        <div class="scroll-wrap">
            <ul id="areaTree" class="ztree scroll" ng-hide="zTree.isEmpty"></ul>
            <div ng-show="zTree.isEmpty" class="no-data">
                <div class="img img-2x"></div>
            </div>
        </div>
        <div class="loader" ng-show="treeLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
    </div>    
    <div class="top">
        <form class="query-form">
            <div class="form-inline">
                <label>所属系统</label>
                <select ng-model="deviceQuery.system" ng-change="getDeviceTypeList(deviceQuery.system)" ng-options="item as item for item in systemList">
                    <option ng-bind="'全部'"></option>
                </select>

                <label>设备名称</label>
                <input type="text" ng-model="deviceQuery.name">


                <label>设备编号</label>
                <input type="text" ng-model="deviceQuery.code">

                <button class="btn btn-primary" ng-click="query();">查询</button>
                <button class="btn btn-default" type="reset" ng-click="reset();">清除</button>
            </div>
        </form>
    </div>
    <div class="bottom">
        <div class="left card-bg">
            <div class="page-header">
                <h3>设备列表</h3>
            </div>
            <div class="table-box scroll" ng-cloak>
                <table scloud-table-head-fix class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>设备编号</th><th>设备名称</th><th>设备类型</th><th>所属系统</th><th>设备厂家</th><th>设备型号</th><th>监控点总数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in deviceList" class="cursor-point {{CONST.animation.list}}" ng-click="openDevice(d.device);">
                            <td ng-bind="d.device.code"></td>
                            <td ng-bind="d.device.name"></td>
                            <td ng-bind="d.device.type"></td>
                            <td ng-bind="d.device.systemName"></td>
                            <td ng-bind="d.device.manufactory | nullFilter"></td>
                            <td ng-bind="d.device.model | nullFilter"></td>
                            <td ng-bind="d.countSignal"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="loader" ng-show="isLoading">
                <i class="ic ic-spinner ic-spin ic-5x"></i>
            </div>
            <div class="no-data" ng-hide="isLoading || paginationConf.totalItems">
                <div class="img img-2x"></div>
            </div>
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
        <div class="right card-bg">
            <div class="page-header">
                <h3>遥信信号</h3>
                <small><a class="ic ic-refresh" ng-click="refresh()"></a></small>
            </div>
            <div class="table-box scroll" ng-cloak>
                <table scloud-table-head-fix class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>实时值</th>
                            <th>门限值</th>
                            <th>采集时间</th>
                            <th>详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in signalList" ng-class="CONST.animation.list">
                            <td ng-bind="d.signal.name"></td>
                            <td ng-bind="d.signal.value | signalStateFilter" ng-class="{0:'font-success',1:'font-danger',2:'font-warning'}[d.signal.value]"></td>
                            <td><span ng-bind="d.signal.threshold"></span> <a class="ic ic-edit" ng-click = "setThreshold.toModal(d.signal)"></a></td>
                            <td ng-bind="d.signal.tRecord | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                            <td ng-bind="d.signal.details | nullFilter"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="loader" ng-show="isSignalLoading">
                <i class="ic ic-spinner ic-spin ic-5x"></i>
            </div>
            <div class="no-data" ng-hide="isSignalLoading || signalList.length">
                <div class="img img-2x"></div>
            </div>     
        </div>
    </div>

    <div>        
        <form class="modal hide form-horizontal" data-backdrop="static" id="setThresholdModal"
              name="setThreshold.form" novalidate ng-submit="setThreshold.execute();">
            <div class="modal-header">
                <button type="reset" class="close" ng-click="setThreshold.clear();"><i class="ic ic-close"></i></button>
                <h3>修改门限</h3>
            </div>
            <div class="modal-body scroll">
                <div class="control-group">
                    <label class="control-label">回差</label>
                    <div class="controls">
                        <span type="text" ng-bind="setThreshold.obj.backlash | nullFilter"></span>
                    </div>
                </div>
                <div class="control-group" ng-class="getValidClass(setThreshold.form.threshold);">
                    <label class="control-label">门限值</label>
                    <div class="controls">
                        <input type="text" name="threshold" ng-model="setThreshold.obj.threshold"
                               ng-pattern="REGEX.threshold" required>
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"
                        ng-disabled="setThreshold.form.$invalid || setThreshold.loading">
                    <i ng-class="{'ic ic-spinner ic-spin':setThreshold.loading}"></i>确认
                </button>
                <button type="button" class="btn btn-default" ng-click="setThreshold.clear();">取消</button>
            </div>
        </form>
    </div>
</section>