<section id="dataFocusPage">
    <div class="_top card-bg">
        <div class="page-header">
            <h3>关注数据<small>（关注的遥测信号）</small></h3>
        </div>
        <div class="table-box scroll">
            <table scloud-table-head-fix class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>信号名称</th><th>实测值</th><th>所属设备</th><th>站点名称</th><th>站点位置</th><th>采集时间</th><th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in focusAIModelList" ng-class="CONST.animation.list">
                        <td ng-bind="item.typeName"></td>
                        <td ng-bind="item.value | nullFilter"></td>
                        <td ng-bind="item.deviceName"></td>
                        <td ng-bind="item.siteName"></td>
                        <td ng-bind="item.tierName"></td>
                        <td ng-bind="item.tRecord | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                        <td>
                            <a title="取消关注" class="ic ic-focus" ng-if="util.checkPrivilege(409)" ng-click="removeFocus(item,$event);"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="loader" ng-show="isLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
        <div class="no-data" ng-hide="isLoading || paginationConf.totalItems">
            <div class="img img-2x"></div>
        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
</section>