<section id="batteryConfigPage">
    <div class="nav-tree cloak filter-online" ng-style="{top: __navbarTreeTop + 'px', display: 'block'}">
        <scloud-checkbox selected="searchKey.online" content="在线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <scloud-checkbox selected="searchKey.offline" content="离线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <input type="text" placeholder="搜索站点位置" ng-model="searchKey.keyword" ng-change="getNodesByParamFuzzy(searchKey,'areaTree','radioSiteTree');">
        <div class="scroll-wrap">
            <ul id="areaTree" class="ztree scroll" ng-hide="zTree.isEmpty"></ul>
            <p ng-show="zTree.isEmpty">没有符合要求的结果</p>
        </div>
        <div class="loader" ng-show="treeLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
    </div>

    <div class="top">
        <ul class="nav nav-tabs">
            <li ng-repeat="item in tabPage.pageList" ng-class="{active:tabPage.isActive($index)}">
                <a ng-click="tabPage.showPage($index);" ng-bind="item"></a>
            </li>
        </ul>

        <form class="query-form" ng-show="tabPage.isActive(0)">
            <div class="form-inline">
                <label>内阻采集时间（分钟）</label>
                <input type="text" ng-model="enterprise.pollingInterval" disabled>
                <label>电压、温度、电流采集间隔（分钟）</label>
                <input type="text" ng-model="enterprise.pollingInterval" disabled>
            </div>
        </form>

        <form class="query-form" ng-show="tabPage.isActive(1)">
            <div class="form-inline">
                <label>筛选条件</label>
                <select ng-model="query.alarmSetting.value"
                        ng-change="queryAlarmParamList();"
                        ng-options="item as (item.voltageLevel+ 'V，' + item.specVoltage +'V，'+ item.specCapacity + 'AH') for item in query.alarmSetting.option">
                </select>
                <button class="btn btn-primary" ng-click="queryAlarmParamList();">查询</button>
            </div>
        </form>
    </div>

    <div class="bottom card-bg" ng-show="tabPage.isActive(0)">
        <div class="page-header">
            <h3>电池组列表</h3>
        </div>
        <div class="table-box scroll">
            <table scloud-table-head-fix class="table table-hover table-border">
                <thead>
                <tr>
                    <th>设备名称</th>
                    <th>供电设备类型</th>
                    <th>供电设备号</th>
                    <th>电池组号</th>
                    <th>电压等级（V）</th>
                    <th>电池规格（V/AH）</th>
                    <th>电池数</th>
                    <th>电流传感器量程（A）</th>
                    <th>内阻基准值（μΩ）</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in batteryGroupList"
                    ng-class="CONST.animation.list">
                    <td ng-bind="item.battery.name | nullFilter"></td>
                    <td ng-bind="item.battery.powerSysType | nullFilter"></td>
                    <td ng-bind="item.battery.powerSysNo | nullFilter"></td>
                    <td ng-bind="item.battery.configCircuitNo | nullFilter"></td>
                    <td ng-bind="item.battery.voltageLevel | nullFilter"></td>
                    <td>
                        <span ng-bind="item.battery.specVoltage | nullFilter"></span>V
                        <span ng-bind="item.battery.specCapacity | nullFilter"></span>AH
                    </td>
                    <td ng-bind="item.battery.configNum | nullFilter"></td>
                    <td ng-bind="item.battery.currentProbeRange | nullFilter"></td>
                    <td ng-bind="item.battery.resFiducial | nullFilter"></td>
                    <td>
                        <a class="ic ic-detail" title="查看" ng-click="setParameter.toModal(item.battery.id)"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="loader" ng-show="isLoading1">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
        <div class="no-data"
             ng-hide="isLoading1 || paginationConf1.totalItems">
            <div class="img img-2x"></div>
        </div>
        <tm-pagination conf="paginationConf1"></tm-pagination>
    </div>

    <div class="bottom card-bg" ng-show="tabPage.isActive(1)">
        <div class="page-header">
            <h3>告警配置列表</h3>
        </div>
        <div class="table-box scroll">
            <table scloud-table-head-fix class="table table-hover table-border">
                <thead>
                <tr>
                    <th>电压等级（V）</th>
                    <th>电压规格（V）</th>
                    <th>容量规格（AH）</th>
                    <th>告警级别</th>
                    <th>告警类型</th>
                    <th>告警触发值</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in alarmConfigList" ng-class="CONST.animation.list"
                    ng-attr-itemId='{{item.signalType.code}}'>
                    <td ng-bind="item.voltageLevel | nullFilter"></td>
                    <td ng-bind="item.specVoltage | nullFilter"></td>
                    <td ng-bind="item.specCapacity | nullFilter"></td>
                    <td ng-bind="item.signalType.alarmLevel | nullFilter | alarmLevelFilter"
                        ng-style="util.alarmColor(item.signalType.alarmLevel);"></td>
                    <td ng-bind="item.signalType.typeName | nullFilter"></td>
                    <td ng-bind="item.threshold | nullFilter"></td>
                    <td>
                        <a class="ic ic-edit" title="修改" ng-if="util.checkPrivilege(4304)" ng-click="modifyThreshold.toModal(item)"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="loader" ng-show="isLoading2">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
        <div class="no-data" ng-hide="isLoading2 || alarmConfigList.length">
            <div class="img img-2x"></div>
        </div>
    </div>

    <!--参数配置模态框-->
    <form class="modal hide form-horizontal" data-backdrop="static" id="setParameterModal"
          name="setParameterModal.form" novalidate ng-submit="setParameter.execute();">
        <div class="modal-header">
            <button type="reset" class="close" ng-click="setParameter.clear();"><i class="ic ic-close"></i></button>
            <h3>电池组参数</h3>
        </div>

        <div class="modal-body scroll">
            <div class="control-group">
                <label class="control-label">电池型号</label>
                <div class="controls">
                    <span class="value" ng-bind="setParameter.obj.battery.model | nullFilter"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">投运时间</label>
                <div class="controls">
                    <span class="value"
                          ng-bind="setParameter.obj.battery.tBeginRun | date:'yyyy-MM-dd' | nullFilter"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">电流传感器量程</label>
                <div class="controls">
                    <span class="value">
                        <span ng-bind="setParameter.obj.battery.currentProbeRange | nullFilter"></span> A
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">内阻基准值</label>
                <div class="controls">
                    <span class="value">
                        <span ng-bind="setParameter.obj.battery.resFiducial | nullFilter"></span> μΩ
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">BDM ID号</label>
                <div class="controls">
                    <span class="value" ng-bind="setParameter.obj.dmIds[0] | nullFilter"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">数据交换机BBDS ID</label>
                <div class="controls">
                    <span class="value" ng-bind="setParameter.obj.fsuCode | nullFilter"></span>
                </div>
            </div>
            <div class="table-box">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>电池编号</th>
                        <th>CDM ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="$index !== 0" ng-repeat='item in setParameter.obj.dmIds'>
                        <td ng-bind='$index'></td>
                        <td ng-bind='item'></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

    <!-- 修改/重置告警触发值模态框 -->
    <form class="modal hide form-horizontal" data-backdrop="static" id="modifyThreshold"
          name="modifyThreshold.form" novalidate ng-submit="modifyThreshold.execute();">
        <div class="modal-header">
            <button type="reset" class="close" ng-click="modifyThreshold.clear();"><i class="ic ic-close"></i></button>
            <h3>修改告警触发值</h3>
        </div>
        <div class="modal-body scroll">
            <div class="control-group" ng-class="getValidClass(modifyThreshold.form.threshold);" ng-if="!modifyThreshold.obj.isDefault">
                <label class="control-label">告警门限值</label>
                <div class="controls">
                    <input type="text" name="threshold" required
                           ng-disabled="modifyThreshold.obj.bbdsCodes"
                           ng-model="modifyThreshold.obj.threshold"
                           ng-pattern="REGEX.threshold">
                    <span class="help-inline"></span>
                    <span>
                        (默认值<span ng-bind="modifyThreshold.obj.defaultThreshold"></span>
                        <a class="ic ic-refresh" ng-click="modifyThreshold.obj.threshold = modifyThreshold.obj.defaultThreshold;" title="使用默认值"></a>)
                    </span>
                </div>
            </div>
            <p class="text-center" ng-repeat="item in modifyThreshold.obj.bbdsCodes" ng-bind="item" class="font-danger"></p>
            <p class="text-center" ng-show="modifyThreshold.obj.bbdsCodes">以上BBDS的告警触发值修改失败，可能是BBDS离线，是否再次尝试设置为 <strong class="font-danger" ng-bind="modifyThreshold.obj.threshold"></strong> ？</p>
            <p class="text-center" ng-hide="modifyThreshold.obj.bbdsCodes">确定要将告警触发值修改为 <strong class="font-danger" ng-bind="modifyThreshold.obj.threshold"></strong> 吗？</p>
            <p class="text-center" ng-show="modifyThreshold.loading">正在修改...</p>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="modifyThreshold.form.$invalid || modifyThreshold.loading">
                <i ng-class="{'ic ic-spinner ic-spin':modifyThreshold.loading}"></i>确认
            </button>
            <button type="reset" class="btn btn-default" ng-click="modifyThreshold.clear()">取消</button>
        </div>
    </form>
</section>