<section id="batteryDevicePage">
    <div class="top card-bg">
        <div class="page-body scroll">
            <div>
                <label>位置信息：</label>
                <a ui-sref="battery/site({siteId:batteryDetail.site.strId})" ng-bind="batteryDetail.site.name | nullFilter"></a>
            </div>
            <div>
                <label>电池规格：</label>
                <span>
                    <span ng-bind="batteryDetail.battery.specVoltage | nullFilter"></span>V
                    <span ng-bind="batteryDetail.battery.specCapacity | nullFilter"></span>AH
                </span>
            </div>
            <div>
                <label>电池组电压：</label>
                <span ng-bind="batteryDetail.voltage | nullFilter"></span>
            </div>
            <div>
                <label>设备名称：</label>
                <span ng-bind="batteryDetail.battery.name | nullFilter"></span>
            </div>
            <div>
                <label>电压等级：</label>
                <span ng-bind="batteryDetail.battery.voltageLevel | nullFilter"></span>V
            </div>
            <div>
                <label>电池组电流：</label>
                <span ng-bind="batteryDetail.current | nullFilter"></span>
            </div>
            <div>
                <label>供电设备：</label>
                <span>
                    <span ng-bind="batteryDetail.battery.powerSysType | nullFilter"></span>
                    - <span ng-bind="batteryDetail.battery.powerSysNo | nullFilter"></span>
                </span>
            </div>
            <div>
                <label>电池型号：</label>
                <span ng-bind="batteryDetail.battery.model | nullFilter"></span>
            </div>
            <div>
                <label>运行状态：</label>
                <span ng-bind="batteryDetail.battery.status | batteryStateFilter | nullFilter"></span>
            </div>
            <div>
                <label>电池组号：</label>
                <span ng-bind="batteryDetail.battery.configCircuitNo | nullFilter"></span>
            </div>
            <div>
                <label>投运时间：</label>
                <span ng-bind="batteryDetail.battery.tBeginRun | date:'yyyy-MM-dd' | nullFilter"></span>
            </div>
            <div>
                <label>剩余容量：</label>
                <span ng-bind="batteryDetail.battery.capacity | nullFilter"></span>%
            </div>
            <div>
                <label>电池节数：</label>
                <span ng-bind="batteryDetail.battery.configNum | nullFilter"></span>
            </div>
            <div>
                <label>采集时间：</label>
                <span ng-bind="batteryDetail.battery.tUpdate | date:'yyyy-MM-dd HH:mm:ss' | nullFilter"></span>
            </div>
            <div>
                <label>健康状态：</label>
                <span ng-bind="batteryDetail.battery.health | batteryHealthFilter | nullFilter"></span>
            </div>
        </div>
        <button class="btn btn-primary" ng-disabled="isUpdateLoading" ng-click="refresh();">
            <i ng-class="{'ic ic-refresh ic-spin':isUpdateLoading,'ic ic-refresh':!isUpdateLoading}"></i> 同步
        </button>
    </div>

    <div class="middle">
        <ul class="nav nav-tabs">
            <li ng-repeat="item in tabPage.pageList" ng-class="{active:tabPage.isActive($index)}">
                <a ng-click="tabPage.showPage($index);" ng-bind="item"></a>
            </li>
        </ul>
    </div>

    <!--实时数据-->
    <div class="bottom card-bg" ng-show="tabPage.isActive(0)">
        <ul class="nav nav-tabs nav-transparent">
            <li ng-repeat="item in tabPage2.pageList" ng-class="{active:tabPage2.isActive($index)}">
                <a ng-click="tabPage2.showPage($index);" ng-bind="item"></a>
            </li>
        </ul>

        <div ng-show="tabPage2.isActive(0)" id="voltage" class="fill-all">
        </div>
        <div ng-show="tabPage2.isActive(1)" id="resistance" class="fill-all">
        </div>
        <div ng-show="tabPage2.isActive(2)" id="temperature" class="fill-all">
        </div>
        <div ng-show="tabPage2.isActive(3)" id="list" class="fill-all">
            <div class="page-header">
                <h3>数据列表</h3>
            </div>

            <div class="table-box scroll" ng-cloak>
                <table scloud-table-head-fix class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>电池编号</th>
                        <th>告警情况</th>
                        <th>电压（V）</th>
                        <th>内阻（mΩ）</th>
                        <th>内阻增长率</th>
                        <th>温度（℃）</th>
                        <th>健康状况</th>
                        <th>剩余容量（%）</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="signal in signalDataList" class="CONST.animation.list">
                        <td ng-bind="signal.batteryNo | nullFilter"></td>
                        <td>
                            <span ng-repeat="item in signal.alarm track by $index | nullFilter" ng-if="item !== 0"
                                  ng-style="util.alarmColor($index + 1);">
                                <span ng-bind="$index + 1 | alarmLevelFilter"></span>
                                <span ng-bind="'(' + item + ') '"></span>
                            </span>
                            <span ng-if="signal.alarmSum === 0">-</span>
                        </td>
                        <td ng-bind="signal.voltage | nullFilter"></td>
                        <td ng-bind="signal.resistance | nullFilter"></td>
                        <td ng-bind="signal.resisRate | percentFilter | nullFilter"></td>
                        <td ng-bind="signal.temperature | nullFilter"></td>
                        <td ng-bind="signal.health | nullFilter"></td>
                        <td ng-bind="signal.capacity | nullFilter"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <tm-pagination conf="paginationConf1"></tm-pagination>
        </div>

        <div class="loader" ng-show="isLoading1">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
        <div class="no-data" ng-hide="isLoading1 || paginationConf1.totalItems">
            <div class="img img-2x"></div>
        </div>
    </div>

    <!--历史数据-->
    <div class="bottom" ng-show="tabPage.isActive(1)">
        <form class="query-form">
            <div class="form-inline">
                <label>年份选择</label>
                <select ng-model="query.historyDataQuery.year"
                        ng-change="setHistoryDataOption(query.historyDataQuery.year);"
                        ng-options="item for item in years"></select>

                <label>月份选择</label>
                <select ng-model="query.historyDataQuery.month"
                        ng-options="item.value as item.name for item in months"></select>

                <button class="btn btn-primary" ng-disabled="isQueryHistoryLoading" ng-click="query.historyDataQuery.confirm();">
                    <i ng-class="{'ic ic-spinner ic-spin':isQueryHistoryLoading}"></i>查询
                </button>
                <button class="btn btn-primary" ng-disabled="isExportHistoryLoading" ng-click="exportHistoryExcel();">
                    <i ng-class="{'ic ic-spinner ic-spin':isExportHistoryLoading}"></i>导出Excel
                </button>
            </div>
        </form>
        <div class="card-bg fill-all">
            <div id="batteryHistory"></div>
        </div>
    </div>

    <!-- 充放电列表 -->
    <div class="bottom" ng-show="tabPage.isActive(2)">
        <div class="bottom-left card-bg">
            <div class="page-header">
                <h3>充放电事件</h3>
            </div>
            <div class="table-box scroll" ng-cloak>
                <table scloud-table-head-fix class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>事件号</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>持续时间</th>
                        <th>事件类型</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in eventInfoList"
                        ng-click="selectEvent(item)"
                        class="cursor-point {{CONST.animation.list}}"
                        ng-class="{'focusLine':currentEvent.eventId === item.eventId}">
                        <td ng-bind="item.eventId | nullFilter"></td>
                        <td ng-bind="item.tStart | nullFilter | date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td ng-bind="item.tEnd | nullFilter | date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td ng-bind="item.tEnd - item.tStart | durationFilter"></td>
                        <td ng-bind="item.type | batteryEventTypeFilter | nullFilter"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--数据未加载完成加载动画-->
            <div class="loader" ng-show="isLoading2">
                <i class="ic ic-spinner ic-spin ic-5x"></i>
            </div>
            <!-- 获得数据为空加载动画层 -->
            <div class="no-data" ng-hide="isLoading2 || eventInfoList">
                <div class="img img-2x"></div>
            </div>
        </div>

        <!-- 电压电流数据叠加图 -->
        <div class="bottom-right card-bg">
            <div class="page-header">
                <h3>电压-电流数据叠加表</h3>
                <button class="btn btn-primary" ng-disabled="isExportEventLoading" ng-click="exportEventExcel();">
                    <i ng-class="{'ic ic-spinner ic-spin':isExportEventLoading}"></i>导出Excel
                </button>

                <button class="btn btn-primary" ng-click="drawEventDatas();">手动生成图片</button>
            </div>
            <div class="fill-all">
                <img id="eventImg" ng-show="currentEvent && currentEvent.url && (currentEvent.url.length !== 0)">
            </div>
            <!-- 获得数据为空加载动画层 -->
            <div class="no-data" ng-hide="currentEvent && currentEvent.url && (currentEvent.url.length !== 0)">
                <div class="img img-2x"></div>
            </div>
        </div>
    </div>

    <!--报表视图-->
    <div class="bottom" ng-show="tabPage.isActive(3)">
        <form class="query-form">
            <div class="form-inline">
                <label>年份选择</label>
                <select ng-model="query.reportPdfQuery.year"
                        ng-change="setReportPdfOption(query.reportPdfQuery.year);"
                        ng-options="item for item in years">
                </select>
                <label>月份选择</label>
                <select ng-model="query.reportPdfQuery.month"
                        ng-options="item.value as item.name for item in months">
                </select>

                <button class="btn btn-primary" ng-click="query.reportPdfQuery.confirm()">查询</button>
                <span class="font-white" ng-if="util.browserInfo.isIE" ng-bind="'（IE浏览器不支持PDF的浏览，查询将直接下载PDF文件）'"></span>
                <button class="btn btn-primary" ng-click="createPngAndReport();">手动生成报表</button>
            </div>
        </form>
        <div class="card-bg fill-all">
            <embed width="100%" height="100%" type="application/pdf" id="pdf"></embed>
        </div>
    </div>
</section>