<section id="batterySitePage">
    <div class="nav-tree cloak filter-online" ng-style="{top: __navbarTreeTop + 'px', display: 'block'}">
        <scloud-checkbox selected="searchKey.online" content="在线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <scloud-checkbox selected="searchKey.offline" content="离线" callback="getNodesByParamFuzzy"></scloud-checkbox>
        <input type="text" placeholder="搜索站点位置" ng-model="searchKey.keyword" ng-change="getNodesByParamFuzzy(searchKey,'areaTree','radioSiteTree');">
        <div class="scroll-wrap">
            <ul id="areaTree" class="ztree scroll" ng-hide="zTree.isEmpty"></ul>
            <p ng-show="zTree.isEmpty">没有符合要求的结果</p>
        </div>
        <div class="loader" ng-show="treeLoading">
            <i class="ic ic-spinner ic-spin ic-5x"></i>
        </div>
    </div>

    <!-- <ul class="nav nav-tabs">
        <li ng-repeat="item in tabPage.pageList" ng-class="{active:tabPage.isActive($index)}">
            <a ng-click="tabPage.showPage($index);" ng-bind="item"></a>
        </li>
    </ul> -->
    

    <div class="site-content">
        <form class="right-top query-form">
            <div class="form-inline">
                <label>设备类型</label>
                <select ng-model="query.model.power"
                        ng-change="query.confirm();"
                        ng-options="item as item for item in query.conditions.powerList">
                    <option ng-bind="'全部'"></option>
                </select>
                <label>电池规格</label>
                <select ng-model="query.model.spec"
                        ng-change="query.confirm();"
                        ng-options="item as item.specVoltage + 'V' + item.specCapacity + 'AH' for item in query.conditions.specList">
                    <option ng-bind="'全部'"></option>
                </select>
                <label>运行状态</label>
                <select ng-model="query.model.status"
                        ng-change="query.confirm();"
                        ng-options="item.key as item.value for item in query.conditions.statusList">
                    <option ng-bind="'全部'"></option>
                </select>

                <button class="btn btn-primary" ng-click="query.confirm();">查询</button>
                <button class="btn btn-default" type="reset" ng-click="query.clear();">清除</button>
            </div>
        </form>

        <div class="right-bottom card-bg">
            <div class="page-header">
                <h3>设备列表</h3>
            </div>
            <div class="table-box scroll">
                <table scloud-table-head-fix class="table table-hover">
                    <thead>
                        <tr>
                            <th>设备编码</th><th>设备名称</th><th>供电设备类型</th><th>供电设备号</th><th>电池组号</th><th>电压等级（V）</th><th>电池规格</th><th>电池数</th><th>运行状态</th><th>告警数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in deviceList" class="cursor-point" ng-class="CONST.animation.list" ng-click="toBatteryDetail(d.battery.id);">
                            <td ng-bind="d.battery.code | nullFilter"></td>
                            <td ng-bind="d.battery.name | nullFilter"></td>
                            <td ng-bind="d.battery.powerSysType | nullFilter"></td>
                            <td ng-bind="d.battery.powerSysNo | nullFilter"></td>
                            <td ng-bind="d.battery.configCircuitNo | nullFilter"></td>
                            <td ng-bind="d.battery.voltageLevel | nullFilter"></td>
                            <td >
                                <span ng-bind="d.battery.specVoltage | nullFilter"></span>V
                                <span ng-bind="d.battery.specCapacity | nullFilter"></span>AH
                            </td>
                            <td ng-bind="d.battery.configNum | nullFilter"></td>
                            <td ng-bind="d.battery.status | batteryStateFilter | nullFilter "></td>
                            <td ng-bind="d.alarm | nullFilter"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="loader" ng-show="isLoading">
                <i class="ic ic-spinner ic-spin ic-5x"></i>
            </div>
            <div class="no-data" ng-hide="isLoading || paginationConf.totalItems">
                <div class="img img-2x"></div>
            </div>
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
   
</section>